In [704]:
# QUESTION NO-1:  Scrape the details of most viewed videos on YouTube from Wikipedia


!pip install selenium
import time
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\srividya\anaconda3\lib\site-packages (4.0.0b4)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: sortedcontainers in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\srividya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\srividya\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\srividya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [705]:
import selenium
import pandas as pd
from selenium import webdriver

In [706]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [707]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [708]:

from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException,ElementNotInteractableException   
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException,InvalidSessionIdException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [709]:
ranks=[]
try:
    driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_rnks=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    for a in search_rnks:
        ranks.append(a.text)
except InvalidSessionIdException as e:
    driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_rnks=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    for a in search_rnks:
        ranks.append(a.text)
except NoSuchElementException as e:
    print("exception raised:",e)
    search_rnks=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    ranks.append(a.text)
    
    
ranks

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30']

In [710]:
names=[]
try:
    driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_nms=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    for a in search_nms:
        
        names.append(a.text)
except InvalidSessionIdException as e:
    driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_nms=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    for a in search_nms:
        names.append(a.text)
except NoSuchElementException as e:
    print("exception raised:",e)
    search_nms=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    names.append(a.text)
    
    
names

['"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"Johny Johny Yes Papa"[26]',
 '"Shape of You"[27]',
 '"See You Again"[28]',
 '"Bath Song"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[32]',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 '"Uptown Funk"[34]',
 '"Phonics Song with Two Words"[35]',
 '"Gangnam Style"[36]',
 '"Dame Tu Cosita"[38]',
 '"Sugar"[39]',
 '"Sorry"[40]',
 '"Roar"[41]',
 '"Counting Stars"[42]',
 '"Thinking Out Loud"[43]',
 '"Wheels on the Bus"[44]',
 '"Dark Horse"[45]',
 '"Faded"[46]',
 '"Girls Like You"[47]',
 '"Lean On"[48]',
 '"Bailando"[49]',
 '"Shake It Off"[50]',
 '"Let Her Go"[51]',
 '"Axel F"[52]',
 '"Mi Gente"[53]',
 '"Perfect"[54]',
 '"Waka Waka (This Time for Africa)"[55]',
 '"Hello"[56]']

In [711]:
import re
names_list=[]
for i in range(len(names)):
    nam=''
    nam=names[i]
    quoted = re.compile('"[^"]*"')
    for value in quoted.findall(nam):
        names_list.append(value)
names_list

['"Baby Shark Dance"',
 '"Despacito"',
 '"Johny Johny Yes Papa"',
 '"Shape of You"',
 '"See You Again"',
 '"Bath Song"',
 '"Learning Colors – Colorful Eggs on a Farm"',
 '"Masha and the Bear – Recipe for Disaster"',
 '"Uptown Funk"',
 '"Phonics Song with Two Words"',
 '"Gangnam Style"',
 '"Dame Tu Cosita"',
 '"Sugar"',
 '"Sorry"',
 '"Roar"',
 '"Counting Stars"',
 '"Thinking Out Loud"',
 '"Wheels on the Bus"',
 '"Dark Horse"',
 '"Faded"',
 '"Girls Like You"',
 '"Lean On"',
 '"Bailando"',
 '"Shake It Off"',
 '"Let Her Go"',
 '"Axel F"',
 '"Mi Gente"',
 '"Perfect"',
 '"Waka Waka (This Time for Africa)"',
 '"Hello"']

In [712]:
Artists=[]
try:
    driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_artst=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    for a in search_artst:
        Artists.append(a.text)
except InvalidSessionIdException as e:
    driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")
    url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
    driver.get(url)
    time.sleep(3)
    driver.get(driver.current_url)
    search_artst=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    for a in search_artst:
        Artists.append(a.text)
except NoSuchElementException as e:
    print("exception raised:",e)
    search_artst=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    Artists.append(a.text)
    
    
Artists

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Get Movies',
 'Mark Ronson',
 'ChuChu TV',
 'Psy',
 'El Chombo',
 'Maroon 5',
 'Justin Bieber',
 'Katy Perry',
 'OneRepublic',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer',
 'Enrique Iglesias',
 'Taylor Swift',
 'Passenger',
 'Crazy Frog',
 'J Balvin',
 'Ed Sheeran',
 'Shakira',
 'Adele']

In [713]:
Upload_date=[]
try:
    
    search_date=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[5]")
    for a in search_date:
        Upload_date.append(a.text)

except NoSuchElementException as e:
    print("exception raised:",e)
    search_date=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[5]")
    Upload_date.append(a.text)
    
    
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'February 27, 2018',
 'January 31, 2012',
 'November 19, 2014',
 'March 6, 2014',
 'July 15, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'October 22, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'May 24, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015',
 'April 11, 2014',
 'August 18, 2014',
 'July 25, 2012',
 'June 17, 2009',
 'June 29, 2017',
 'November 9, 2017',
 'June 4, 2010',
 'October 23, 2015']

In [714]:
Views=[]
try:
    
    search_views=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[4]")
    for a in search_views:
        Views.append(a.text)

except NoSuchElementException as e:
    print("exception raised:",e)
    search_views=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[4]")
    Views.append(a.text)
    
    
Views

['9,453,134,982',
 '7,572,747,360',
 '5,781,348,353',
 '5,483,427,541',
 '5,284,905,560',
 '4,549,294,432',
 '4,513,879,675 (as of Sep 29, 2021)',
 '4,461,096,975',
 '4,319,159,452',
 '4,220,180,419',
 '4,211,421,413',
 '3,633,337,215',
 '3,565,906,701',
 '3,474,094,697',
 '3,444,786,615',
 '3,412,577,920',
 '3,337,279,340',
 '3,291,808,512',
 '3,155,611,442',
 '3,155,489,927',
 '3,143,116,042',
 '3,105,926,931',
 '3,105,539,316',
 '3,104,230,107',
 '3,090,217,295',
 '3,035,828,739',
 '2,986,493,839',
 '2,974,982,274',
 '2,962,613,841',
 '2,889,107,727']

In [715]:
import pandas as pd
most_seen_videos_YouTube=pd.DataFrame({})
most_seen_videos_YouTube['Rank']=ranks
most_seen_videos_YouTube['Video Names']=names_list        
most_seen_videos_YouTube['Artist']=Artists 
most_seen_videos_YouTube['Upload date']=Upload_date 
most_seen_videos_YouTube['Views (Billions)']=Views
most_seen_videos_YouTube.style.hide_index()

In [716]:
most_seen_videos_YouTube.to_csv("most_seen_videos_YouTube.csv")

These are most viewed videos in youtube

QUESTION NO-2: Scrape the details team India’s international fixtures from bcci.tv

In [717]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [718]:
url="https://www.bcci.tv/international/fixtures"

In [719]:
driver.get(url)

In [720]:
search_btn=driver.find_element_by_xpath("//li[@data-nav-index='0']")

In [721]:
time.sleep(1)

In [722]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [723]:
time.sleep(1)

In [724]:
search_btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//div//ul//li[1]//a[1]")

In [725]:
try:  
    search_btn1.click()
except StaleElementReferenceException as e:
    search_btn1.click()

In [726]:
title=[]
for page in range(0,2):
    try:
        search_title=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[2]")
        for a in search_title:
            title.append(a.text)
        nxt_button=driver.find_element_by_xpath("//span[@class='button__text']")
        try:                                                        
            nxt_button.click()
            driver.execute_script("window.scrollTo(0,100000)")
        except ElementNotInteractableException as e:
             time.sleep(1)
       
    except NoSuchElementException as e: 
        time.sleep(1)
    
title

["2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 "2021 ICC MEN'S T20 WORLD CUP",
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'INDIA V NEW ZEALAND 2021',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022',
 'SOUTH AFRICA V INDIA 2021/2022']

In [727]:
search_btn=driver.find_element_by_xpath("//li[@data-nav-index='0']")

In [728]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [729]:
search_btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//div//ul//li[1]//a[1]")

In [730]:
try:  
    search_btn1.click()
except StaleElementReferenceException as e:
    search_btn1.click()

In [731]:
series=[]
for page in range(0,2):
    try:
        search_series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']//span[1]")
        for a in search_series:
            series.append(a.text)
        nxt_button=driver.find_element_by_xpath("//span[@class='button__text']")
        try:                                                        
            nxt_button.click()
            driver.execute_script("window.scrollTo(0,100000)")
        except ElementNotInteractableException as e:
             time.sleep(1)
   
    except NoSuchElementException as e: 
        time.sleep(1)
series

['T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'ODI',
 'ODI',
 'ODI',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'TEST',
 'ODI',
 'ODI',
 'ODI',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'ODI',
 'ODI',
 'ODI',
 'T20I',
 'T20I',
 'T20I',
 'TEST',
 'TEST',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'T20I',
 'ODI']

In [732]:
search_btn=driver.find_element_by_xpath("//li[@data-nav-index='0']")

In [733]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [734]:
search_btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//div//ul//li[1]//a[1]")

In [735]:
try:  
    search_btn1.click()
except StaleElementReferenceException as e:
    search_btn1.click()

In [736]:
Place=[]
for page in range(0,2):
    try:
        search_Place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
        for a in search_Place:
            Place.append(a.text)
        nxt_button=driver.find_element_by_xpath("//span[@class='button__text']")
        try:                                                        
            nxt_button.click()
            driver.execute_script("window.scrollTo(0,100000)")
        except ElementClickInterceptedException as e:
             time.sleep(1)
       
        except ElementClickInterceptedException as e:
             time.sleep(1)
   
    except NoSuchElementException as e: 
        time.sleep(1)
Place

['Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'New Wanderers Stadium, Johannesburg',
 'Supersport Park, Centurion',
 'New Wanderers Stadium, Johannesburg',
 'Boland Park, Paarl',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Boland Park, Paarl',
 'Boland Park, Paarl',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'New Wanderers Stadium, Johannesburg',
 'Supersport Park, Centurion',
 'New Wanderers Stadium, Johannesburg',
 'Boland Park, Paarl',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Boland Park, Paarl',
 'Boland Park, Paarl']

In [742]:
search_btn=driver.find_element_by_xpath("//li[@data-nav-index='0']")

In [743]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [744]:
search_btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//div//ul//li[1]//a[1]")

In [745]:
try:  
    search_btn1.click()
except StaleElementReferenceException as e:
    search_btn1.click()

In [746]:
match_title=[]
for page in range(0,2):
    try:
        search_match=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//strong")
        for a in search_match:
            match_title.append(a.text)
        nxt_button=driver.find_element_by_xpath("//span[@class='button__text']")
        try:                                                        
            nxt_button.click()
            driver.execute_script("window.scrollTo(0,100000)")
        except ElementClickInterceptedException as e:
             time.sleep(1)
       
        except ElementClickInterceptedException as e:
             time.sleep(1)
   
    except NoSuchElementException as e: 
        time.sleep(1)
match_title

['Match 16',
 'Match 28',
 'Match 33',
 'Match 37',
 'Match 42',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I',
 'Match 16',
 'Match 28',
 'Match 33',
 'Match 37',
 'Match 42',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I']

In [747]:
search_btn=driver.find_element_by_xpath("//li[@data-nav-index='0']")

In [748]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [749]:
search_btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']//div//ul//li[1]//a[1]")

In [750]:
try:  
    search_btn1.click()
except StaleElementReferenceException as e:
    search_btn1.click()

In [751]:
Date=[]
for page in range(0,2):
    try:
        search_Date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
        for a in search_Date:
            Date.append(a.text)
        nxt_button=driver.find_element_by_xpath("//span[@class='button__text']")
        try:                                                        
            nxt_button.click()
            driver.execute_script("window.scrollTo(0,100000)")
        except ElementClickInterceptedException as e:
             time.sleep(1)
       
        except ElementClickInterceptedException as e:
             time.sleep(1)
   
    except NoSuchElementException as e: 
        time.sleep(1)
Date

['Sunday\n24\nOCTOBER\n19:30 IST',
 'Sunday\n31\nOCTOBER\n19:30 IST',
 'Wednesday\n03\nNOVEMBER\n19:30 IST',
 'Friday\n05\nNOVEMBER\n19:30 IST',
 'Monday\n08\nNOVEMBER\n19:30 IST',
 'Wednesday\n17\nNOVEMBER\n19:00 IST',
 'Friday\n19\nNOVEMBER\n19:00 IST',
 'Sunday\n21\nNOVEMBER\n19:00 IST',
 'Thursday\n25\nNOVEMBER\n09:30 IST',
 'Friday\n03\nDECEMBER\n09:30 IST',
 'Friday\n17\nDECEMBER\n13:30 IST',
 'Sunday\n26\nDECEMBER\n13:30 IST',
 'Monday\n03\nJANUARY\n13:30 IST',
 'Tuesday\n11\nJANUARY\n14:00 IST',
 'Friday\n14\nJANUARY\n14:00 IST',
 'Sunday\n16\nJANUARY\n14:00 IST',
 'Wednesday\n19\nJANUARY\n19:30 IST',
 'Friday\n21\nJANUARY\n19:30 IST',
 'Sunday\n23\nJANUARY\n19:30 IST',
 'Wednesday\n26\nJANUARY\n19:30 IST',
 'Sunday\n24\nOCTOBER\n19:30 IST',
 'Sunday\n31\nOCTOBER\n19:30 IST',
 'Wednesday\n03\nNOVEMBER\n19:30 IST',
 'Friday\n05\nNOVEMBER\n19:30 IST',
 'Monday\n08\nNOVEMBER\n19:30 IST',
 'Wednesday\n17\nNOVEMBER\n19:00 IST',
 'Friday\n19\nNOVEMBER\n19:00 IST',
 'Sunday\n21\nNOVEMBER\n19:00 IST',
 'Thursday\n25\nNOVEMBER\n09:30 IST',
 'Friday\n03\nDECEMBER\n09:30 IST',
 'Friday\n17\nDECEMBER\n13:30 IST',
 'Sunday\n26\nDECEMBER\n13:30 IST',
 'Monday\n03\nJANUARY\n13:30 IST',
 'Tuesday\n11\nJANUARY\n14:00 IST',
 'Friday\n14\nJANUARY\n14:00 IST',
 'Sunday\n16\nJANUARY\n14:00 IST',
 'Wednesday\n19\nJANUARY\n19:30 IST',
 'Friday\n21\nJANUARY\n19:30 IST',
 'Sunday\n23\nJANUARY\n19:30 IST',
 'Wednesday\n26\nJANUARY\n19:30 IST']

In [752]:
import re
time_list=[]
for i in range(len(Date)):
    dnam=''
    dnam=Date[i]
    times = re.search('(.+?) IST', dnam)
    if times:
        found = times.group(0)
        time_list.append(found) 
time_list

['19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '09:30 IST',
 '09:30 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '14:00 IST',
 '14:00 IST',
 '14:00 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:00 IST',
 '19:00 IST',
 '19:00 IST',
 '09:30 IST',
 '09:30 IST',
 '13:30 IST',
 '13:30 IST',
 '13:30 IST',
 '14:00 IST',
 '14:00 IST',
 '14:00 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST',
 '19:30 IST']

In [753]:
import re
date_list=[]
for i in range(len(Date)):
    dnams=Date[i]
    s=dnams.split("\n",3)[0:3] 
    dates = ' '.join(s)
    date_list.append(dates)

In [754]:
date_list

['Sunday 24 OCTOBER',
 'Sunday 31 OCTOBER',
 'Wednesday 03 NOVEMBER',
 'Friday 05 NOVEMBER',
 'Monday 08 NOVEMBER',
 'Wednesday 17 NOVEMBER',
 'Friday 19 NOVEMBER',
 'Sunday 21 NOVEMBER',
 'Thursday 25 NOVEMBER',
 'Friday 03 DECEMBER',
 'Friday 17 DECEMBER',
 'Sunday 26 DECEMBER',
 'Monday 03 JANUARY',
 'Tuesday 11 JANUARY',
 'Friday 14 JANUARY',
 'Sunday 16 JANUARY',
 'Wednesday 19 JANUARY',
 'Friday 21 JANUARY',
 'Sunday 23 JANUARY',
 'Wednesday 26 JANUARY',
 'Sunday 24 OCTOBER',
 'Sunday 31 OCTOBER',
 'Wednesday 03 NOVEMBER',
 'Friday 05 NOVEMBER',
 'Monday 08 NOVEMBER',
 'Wednesday 17 NOVEMBER',
 'Friday 19 NOVEMBER',
 'Sunday 21 NOVEMBER',
 'Thursday 25 NOVEMBER',
 'Friday 03 DECEMBER',
 'Friday 17 DECEMBER',
 'Sunday 26 DECEMBER',
 'Monday 03 JANUARY',
 'Tuesday 11 JANUARY',
 'Friday 14 JANUARY',
 'Sunday 16 JANUARY',
 'Wednesday 19 JANUARY',
 'Friday 21 JANUARY',
 'Sunday 23 JANUARY',
 'Wednesday 26 JANUARY']

In [755]:
Nos=[]
for i in range(1,len(match_title)+1):
    Nos.append(i)

In [756]:
import pandas as pd
India_intern_fixtures=pd.DataFrame({})
India_intern_fixtures['Nos']=Nos
India_intern_fixtures['Match Titles']=match_title     
India_intern_fixtures['Series']=title        
India_intern_fixtures['Place']=Place   
India_intern_fixtures['Date']=date_list
India_intern_fixtures['Time']=time_list   
India_intern_fixtures.style.hide_index()

In [757]:
India_intern_fixtures.to_csv("India_international_fixtures.csv")

These  are the match details of  India’s international fixtures

QUESTION NO-3: Scrape the details of selenium exception from guru99.com

In [758]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [759]:
url="https://www.guru99.com/"

In [760]:
driver.get(url)

In [763]:
time.sleep(10)

In [764]:
search_bar2=driver.find_element_by_xpath("//input[@class='gsc-input']")

In [765]:
try:
    search_bar2.send_keys("Selenium Exception Handling")
except ElementNotInteractableException as e:
    search_bar2.send_keys("Selenium Exception Handling")

In [766]:
time.sleep(1)

In [767]:
try:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")
except NoSuchElementException as e:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")

In [768]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [769]:
try:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")
except NoSuchElementException as e:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")

In [770]:
exception_names=[]
try:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)
        
except StaleElementReferenceException as e:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)


exception_names

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [771]:
driver.get(driver.current_url)

In [772]:
exception_=[]
try:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_details.append(a.text)
        
except StaleElementReferenceException as e:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_details.append(a.text)


exception_details

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [773]:
Nos=[]
for i in range(1,len(exception_names)+1):
    Nos.append(i)

In [774]:
import pandas as pd
selenium_exception=pd.DataFrame({})
selenium_exception['Nos']=Nos
selenium_exception['Exception name']=exception_names    
selenium_exception['Description']=exception_details
selenium_exception.style.hide_index()

These are the scraped details of Selenium Exception Handling Techniques

In [775]:
selenium_exception.to_csv("Selenium_Exception.csv")

QUESTION NO-4: Scrape the details of State-wise GDP of India from statisticstime.com

In [776]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [777]:
url="https://statisticstimes.com/"

In [778]:
driver.get(url)

In [779]:
time.sleep(1)

In [780]:
search_btn3=driver.find_element_by_xpath("//div[@class='navbar']//div[2]//button")

In [781]:
try:  
    search_btn3.click()
except ElementNotInteractableException as e:
    search_btn3.click()

In [782]:
search_btn4=driver.find_element_by_xpath("//div[@class='navbar']//div[2]//div//a[3]")

In [783]:
try:  
    search_btn4.click()
except ElementNotInteractableException  as e:
    search_btn4.click()

In [784]:
try:  
    search_btn5=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]//a")
except NoSuchElementException  as e:
    search_btn5=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]//a")

In [785]:
try:  
    search_btn5.click()
except StaleElementReferenceException as e:
    search_btn5.click()

In [786]:
driver.execute_script("window.scrollTo(0,1500)")
time.sleep(3)

In [787]:
rnk=[]
try:
    
    search_rnk=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[1]")
    for a in search_rnk:
        rnk.append(a.text)

except NoSuchElementException as e:
    print("exception raised:",e)
    search_rnk=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[1]")
    rnk.append(a.text)
    
rnk

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [788]:
state=[]
try:
    
    search_state=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[2]")
    for a in search_state:
        state.append(a.text)

except NoSuchElementException as e:
    search_state=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[2]")
    state.append(a.text)
    
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [789]:
gsdp_at_19=[]
try:
    
    search_gsdp_at_19=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[3]")
    for a in search_gsdp_at_19:
        gsdp_at_19.append(a.text)

except NoSuchElementException as e:
    search_gsdp_at_19=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[3]")
    gsdp_at_19.append(a.text)
    
gsdp_at_19

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [790]:
gsdp_at_18=[]
try:
    
    search_gsdp_at_18=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[4]")
    for a in search_gsdp_at_18:
        gsdp_at_18.append(a.text)

except NoSuchElementException as e:
    search_gsdp_at_18=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[4]")
    gsdp_at_18.append(a.text)
    
gsdp_at_18

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [791]:
share=[]
try:
    
    search_share=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[5]")
    for a in search_share:
        share.append(a.text)

except NoSuchElementException as e:
    search_share=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[5]")
    share.append(a.text)
    
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [792]:
billion=[]
try:
    
    search_billion=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[6]")
    for a in search_billion:
        billion.append(a.text)

except NoSuchElementException as e:
    search_billion=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[6]")
    billion.append(a.text)
    
billion

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [793]:
import pandas as pd
State_wise_GDP_India=pd.DataFrame({})
State_wise_GDP_India['Rank']=rnk   
State_wise_GDP_India['State']=state
State_wise_GDP_India['GSDP at current price (19-20)']=gsdp_at_19
State_wise_GDP_India['GSDP at current price (18-19)']=gsdp_at_18
State_wise_GDP_India['Share(18-19)']=share
State_wise_GDP_India['GDP($ billion)']=billion
State_wise_GDP_India.style.hide_index()

These are the scraped details of GDP of Indian states

In [794]:
State_wise_GDP_India.to_csv("State_wise_GDP_of_India.csv")

QUESTION NO-5: Scrape the details of trending repositories on Github.com

In [795]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [796]:
url="https://github.com/"

In [797]:
driver.get(url)

In [798]:
time.sleep(1)

In [799]:
try:
    from selenium.webdriver.common.action_chains import ActionChains
    element_to_hover_over = driver.find_element_by_xpath("//div[@class='HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto']//nav//ul//li[4]//details//summary")
    element_to_hover_over.click()
    ActionChains(driver).move_to_element(element_to_hover_over).perform()
    search_btn4=driver.find_element_by_xpath("//div[@class='HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto']//nav//ul//li[4]//details//div//ul[2]//li[3]//a")
    search_btn4.click()
    
except ElementNotInteractableException as e:
    from selenium.webdriver.common.action_chains import ActionChains
    element_to_hover_over = driver.find_element_by_xpath("//div[@class='HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto']//nav//ul//li[4]//details//summary")
    element_to_hover_over.click()
    ActionChains(driver).move_to_element(element_to_hover_over).perform()
    search_btn4=driver.find_element_by_xpath("//div[@class='HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto']//nav//ul//li[4]//details//div//ul[2]//li[3]//a")
    search_btn4.click()

In [800]:
Repo_title=[]
try:
    
    search_Repo_title=driver.find_elements_by_xpath("//span[@class='text-normal']")
    for a in search_Repo_title:
        Repo_title.append(a.text)

except NoSuchElementException as e:
    search_Repo_title=driver.find_elements_by_xpath("//span[@class='text-normal']")
    Repo_title.append(a.text)
    
Repo_title

['peng-zhihui /',
 'xinntao /',
 'ckosmic /',
 'ethereum /',
 'WebDevSimplified /',
 'trailofbits /',
 'trekhleb /',
 'sdras /',
 'cobaltdisco /',
 'peng-zhihui /',
 'iptv-org /',
 'peng-zhihui /',
 'valinet /',
 'openwrt /',
 'zeromicro /',
 'ethereum /',
 'bitcoin /',
 'github /',
 'goplus /',
 'jklepatch /',
 'filecoin-project /',
 'bevyengine /',
 'NationalSecurityAgency /',
 'golang /',
 'raimohanska /']

In [801]:
bad_chars = ['/']
repo_names=[]
for i in range(len(Repo_title)):
    rnam=''
    rnam=Repo_title[i]
    for i in bad_chars :
        rnam =  rnam.replace(i, '')
        repo_names.append(rnam)

In [802]:
 repo_names

['peng-zhihui ',
 'xinntao ',
 'ckosmic ',
 'ethereum ',
 'WebDevSimplified ',
 'trailofbits ',
 'trekhleb ',
 'sdras ',
 'cobaltdisco ',
 'peng-zhihui ',
 'iptv-org ',
 'peng-zhihui ',
 'valinet ',
 'openwrt ',
 'zeromicro ',
 'ethereum ',
 'bitcoin ',
 'github ',
 'goplus ',
 'jklepatch ',
 'filecoin-project ',
 'bevyengine ',
 'NationalSecurityAgency ',
 'golang ',
 'raimohanska ']

In [804]:
Repo_desc=[]
try:
    
    search_Repo_desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
    for a in search_Repo_desc:
        Repo_desc.append(a.text)

except NoSuchElementException as e:
    search_Repo_desc=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
    Repo_desc.append(a.text)
    
Repo_desc

['我的超迷你机械臂机器人项目。',
 'Real-ESRGAN aims at developing Practical Algorithms for General Image Restoration.',
 'iOS port of https://github.com/sm64pc/sm64ex/',
 'Ethereum.org is a primary online resource for the Ethereum community.',
 'Set up a personal VPN in the cloud',
 '🚀 Free resources you may use to promote your next startup',
 'A curated list of awesome actions to use on GitHub',
 '我终于能用谷歌搜中文了……',
 'Smart NFC & ink-Display Card',
 'Collection of publicly available IPTV channels from all over the world',
 '稚晖的个人站',
 'This project aims to bring back a productive working environment on Windows 11.',
 'This repository is a mirror of https://git.openwrt.org/openwrt/openwrt.git It is for reference only and is not active for check-ins or for reporting issues. We will continue to accept Pull Requests here. They will be merged via staging trees then into openwrt.git. All issues should be reported at: https://bugs.openwrt.org',
 "go-zero is a web and rpc framework written in Go. It's born to ensure the stability of the busy sites with resilient design. Builtin goctl greatly improves the development productivity.",
 'The Ethereum Improvement Proposal repository',
 'Bitcoin Core integration/staging tree',
 'The open-source repo for docs.github.com',
 'GoPlus - The Go+ language for engineering, STEM education, and data science',
 'Source code for Eat The Blocks, a screencast for Ethereum Dapp Developers',
 'Implementation of the Filecoin protocol, written in Go',
 'A refreshingly simple data-driven game engine built in Rust',
 'Ghidra is a software reverse engineering (SRE) framework',
 'The Go programming language',
 'An online whiteboard']

In [806]:
lang=[]
try:
    
    search_lang=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
    for a in search_lang:
        lang.append(a.text)

except NoSuchElementException as e:
    search_lang=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
    lang.append('_')
    
lang

['Python',
 'C',
 'JavaScript',
 'JavaScript',
 'Python',
 'C',
 'JavaScript',
 'HTML',
 'C',
 'C',
 'Go',
 'Solidity',
 'C++',
 'JavaScript',
 'Go',
 'JavaScript',
 'Go',
 'Rust',
 'Java',
 'Go',
 'TypeScript']

In [807]:
countt=[]
try:
    
    search_countt=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']//a[2]")
    for a in search_countt:
        countt.append(a.text)

except NoSuchElementException as e:
    search_countt=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']//a[2]")
    countt.append(a.text)
    
countt

['368',
 '359',
 '',
 '12',
 '',
 '1,464',
 '',
 '125',
 '1,916',
 '',
 '109',
 '1,003',
 '',
 '156',
 '',
 '1,384',
 '3,599',
 '',
 '113',
 '21',
 '',
 '6,302',
 '',
 '1,387',
 '',
 '2,839',
 '',
 '30,133',
 '',
 '27,559',
 '',
 '402',
 '',
 '1,846',
 '',
 '894',
 '',
 '950',
 '',
 '3,806',
 '',
 '13,393',
 '',
 '12',
 '']

In [808]:
Contri_count=[]
Contri_count=[x for x in countt if x]

In [809]:
Contri_count

['368',
 '359',
 '12',
 '1,464',
 '125',
 '1,916',
 '109',
 '1,003',
 '156',
 '1,384',
 '3,599',
 '113',
 '21',
 '6,302',
 '1,387',
 '2,839',
 '30,133',
 '27,559',
 '402',
 '1,846',
 '894',
 '950',
 '3,806',
 '13,393',
 '12']

In [810]:
Nos=[]
for i in range(1,len(lang)+1):
     Nos.append(i)

In [817]:
import pandas as pd
trending_repo_github=pd.DataFrame({})
trending_repo_github['Nos']=Nos[:21]
trending_repo_github['Repository title']=repo_names[:21]
trending_repo_github['Repository Description']=Repo_desc[:21] 
trending_repo_github['Contributors count']=Contri_count[:21]
trending_repo_github['Language used']=lang[:21]
trending_repo_github.style.hide_index()

These are the scraped details of  Trending Repositories on Github

In [818]:
trending_repo_github.to_csv("Trending_Repo_Github.csv")

QUESTION NO-6: Scrape the details of top 100 songs on billboard.com

In [819]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [820]:
url="https://www.billboard.com/"

In [821]:
driver.get(url)

In [822]:
time.sleep(1)

In [823]:
search_btn6=driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']//li[3]")

In [824]:
try:  
    search_btn6.click()
except ElementNotInteractableException as e:
    search_btn6.click()

In [825]:
Song_name=[]
try:
    
    search_Song_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for a in search_Song_name:
        Song_name.append(a.text)

except NoSuchElementException as e:
    search_Song_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    Song_name.append(a.text)

Song_name

['My Universe',
 'Stay',
 'Industry Baby',
 'Way 2 Sexy',
 'Fancy Like',
 'Bad Habits',
 'Good 4 U',
 'Kiss Me More',
 'Knife Talk',
 'Levitating',
 'Essence',
 'Save Your Tears',
 'Montero (Call Me By Your Name)',
 'Shivers',
 'Heat Waves',
 'Need To Know',
 'Girls Want Girls',
 'You Right',
 "Beggin'",
 'Wockesha',
 "If I Didn't Love You",
 'Take My Breath',
 'Fair Trade',
 'Thats What I Want',
 'Traitor',
 'Cold Beer Calling My Name',
 'Chasing After You',
 'Bad Morning',
 'Pepas',
 'Deja Vu',
 'Happier Than Ever',
 'Your Heart',
 'Leave The Door Open',
 'Hurricane',
 'A-O-K',
 'Butter',
 'On My Side',
 'Too Easy',
 'Leave Before You Love Me',
 'No Where',
 'Peaches',
 'Family Ties',
 "Memory I Don't Mess With",
 'Late At Night',
 'Things A Man Oughta Know',
 'Cold Heart (PNAU Remix)',
 'Meet Me At Our Spot',
 'Life Support',
 'I Was On A Boat That Day',
 'Love Nwantiti (Ah Ah Ah)',
 'Wild Side',
 'Whole Lotta Money',
 'Hold Me Down',
 'Champagne Poetry',
 'Buy Dirt',
 'Have Mercy',
 'Love Again',
 'Nevada',
 '50 Shots',
 'No Friends In The Industry',
 'Smoke Strong',
 'Break Or Make Me',
 'You Time',
 'Gyalis',
 'Cold As You',
 'My Boy',
 'Sincerely',
 "Drunk (And I Don't Wanna Go Home)",
 "I Can't Take It Back",
 'Waves',
 'Sharing Locations',
 'In The Bible',
 'Thot Shit',
 'Rumors',
 'Woman',
 "Thinking 'Bout You",
 'Baddest',
 '2055',
 'Memory',
 'Forgiato',
 'You Should Probably Leave',
 "Drinkin' Beer. Talkin' God. Amen.",
 'Rich Shit',
 'TSU',
 'Volvi',
 'Todo de Ti',
 'Love All',
 'N 2 Deep',
 'Yonaguni',
 'Knowing You',
 'For Tonight',
 'Baddest Thing',
 'Summer Of Love',
 'Get Into It (Yuh)',
 'Same Boat',
 'Pipe Down',
 "Papi's Home",
 'Chosen',
 'Toxic Punk',
 'Moon']

In [826]:
Artist_name=[]
try:
    
    search_Artist_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for a in search_Artist_name:
        Artist_name.append(a.text)

except NoSuchElementException as e:
    search_Artist_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    Artist_name.append(a.text)

Artist_name

['Coldplay x BTS',
 'The Kid LAROI & Justin Bieber',
 'Lil Nas X & Jack Harlow',
 'Drake Featuring Future & Young Thug',
 'Walker Hayes',
 'Ed Sheeran',
 'Olivia Rodrigo',
 'Doja Cat Featuring SZA',
 'Drake Featuring 21 Savage & Project Pat',
 'Dua Lipa',
 'Wizkid Featuring Justin Bieber & Tems',
 'The Weeknd & Ariana Grande',
 'Lil Nas X',
 'Ed Sheeran',
 'Glass Animals',
 'Doja Cat',
 'Drake Featuring Lil Baby',
 'Doja Cat & The Weeknd',
 'Maneskin',
 'Moneybagg Yo',
 'Jason Aldean & Carrie Underwood',
 'The Weeknd',
 'Drake Featuring Travis Scott',
 'Lil Nas X',
 'Olivia Rodrigo',
 'Jameson Rodgers Featuring Luke Combs',
 'Ryan Hurd With Maren Morris',
 'YoungBoy Never Broke Again',
 'Farruko',
 'Olivia Rodrigo',
 'Billie Eilish',
 'Joyner Lucas & J. Cole',
 'Silk Sonic (Bruno Mars & Anderson .Paak)',
 'Kanye West',
 'Tai Verdes',
 'BTS',
 'YoungBoy Never Broke Again',
 'Gunna & Future',
 'Marshmello X Jonas Brothers',
 'YoungBoy Never Broke Again',
 'Justin Bieber Featuring Daniel Caesar & Giveon',
 'Baby Keem & Kendrick Lamar',
 'Lee Brice',
 'Roddy Ricch',
 'Lainey Wilson',
 'Elton John & Dua Lipa',
 'THE ANXIETY: WILLOW & Tyler Cole',
 'YoungBoy Never Broke Again',
 'Old Dominion',
 'CKay',
 'Normani Featuring Cardi B',
 'BIA Featuring Nicki Minaj',
 'YoungBoy Never Broke Again',
 'Drake',
 'Jordan Davis Featuring Luke Bryan',
 'Chloe',
 'Dua Lipa',
 'YoungBoy Never Broke Again',
 'YoungBoy Never Broke Again',
 'Drake',
 'YoungBoy Never Broke Again',
 'YoungBoy Never Broke Again',
 'Scotty McCreery',
 'Capella Grey',
 'Luke Combs',
 'Elvie Shane',
 'YoungBoy Never Broke Again',
 'Elle King & Miranda Lambert',
 'YoungBoy Never Broke Again',
 'Luke Bryan',
 'Meek Mill Featuring Lil Baby & Lil Durk',
 'Drake Featuring Lil Durk & Giveon',
 'Megan Thee Stallion',
 'Lizzo Featuring Cardi B',
 'Doja Cat',
 'Dustin Lynch Featuring Lauren Alaina Or MacKenzie Porter',
 'Yung Bleu, Chris Brown & 2 Chainz',
 'Sleepy Hallow',
 'Kane Brown X blackbear',
 'YoungBoy Never Broke Again',
 'Chris Stapleton',
 'Chase Rice Featuring Florida Georgia Line',
 'YoungBoy Never Broke Again',
 'Drake',
 'Aventura x Bad Bunny',
 'Rauw Alejandro',
 'Drake Featuring JAY-Z',
 'Drake Featuring Future',
 'Bad Bunny',
 'Kenny Chesney',
 'Giveon',
 'YoungBoy Never Broke Again',
 'Shawn Mendes & Tainy',
 'Doja Cat',
 'Zac Brown Band',
 'Drake',
 'Drake',
 'Blxst & Tyga Featuring Ty Dolla $ign',
 'YoungBoy Never Broke Again',
 'Kanye West']

In [827]:
p_rnk=[]
try:
    
    search_p_rnk=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for a in search_p_rnk:
        p_rnk.append(a.text)

except NoSuchElementException as e:
    search_p_rnk=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    p_rnk.append(a.text)

p_rnk

['1',
 '1',
 '2',
 '1',
 '5',
 '2',
 '1',
 '3',
 '4',
 '2',
 '11',
 '1',
 '1',
 '14',
 '15',
 '14',
 '2',
 '11',
 '19',
 '20',
 '15',
 '6',
 '3',
 '10',
 '9',
 '26',
 '27',
 '28',
 '26',
 '3',
 '11',
 '32',
 '1',
 '6',
 '35',
 '1',
 '37',
 '38',
 '19',
 '40',
 '1',
 '18',
 '43',
 '20',
 '32',
 '46',
 '44',
 '48',
 '49',
 '50',
 '14',
 '16',
 '53',
 '4',
 '51',
 '28',
 '51',
 '58',
 '59',
 '11',
 '61',
 '62',
 '50',
 '64',
 '65',
 '66',
 '67',
 '53',
 '69',
 '24',
 '22',
 '7',
 '16',
 '4',
 '62',
 '76',
 '77',
 '51',
 '50',
 '80',
 '63',
 '24',
 '83',
 '9',
 '22',
 '32',
 '10',
 '12',
 '10',
 '87',
 '91',
 '92',
 '48',
 '68',
 '95',
 '14',
 '8',
 '98',
 '99',
 '17']

In [828]:
l_w_rnk=[]
try:
    
    search_l_w_rnk=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for a in search_l_w_rnk:
        l_w_rnk.append(a.text)

except NoSuchElementException as e:
    search_l_w_rnk=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    l_w_rnk.append(a.text)

l_w_rnk

['-',
 '1',
 '2',
 '3',
 '5',
 '4',
 '6',
 '7',
 '8',
 '11',
 '14',
 '12',
 '9',
 '17',
 '16',
 '18',
 '13',
 '19',
 '20',
 '35',
 '22',
 '21',
 '15',
 '10',
 '25',
 '29',
 '32',
 '-',
 '27',
 '23',
 '28',
 '-',
 '33',
 '31',
 '39',
 '24',
 '71',
 '-',
 '26',
 '-',
 '36',
 '38',
 '54',
 '45',
 '34',
 '74',
 '44',
 '79',
 '53',
 '80',
 '52',
 '58',
 '-',
 '30',
 '55',
 '56',
 '51',
 '-',
 '-',
 '40',
 '-',
 '-',
 '50',
 '64',
 '69',
 '67',
 '-',
 '70',
 '-',
 '60',
 '61',
 '43',
 '49',
 '46',
 '62',
 '81',
 '78',
 '65',
 '73',
 '-',
 '83',
 '77',
 '-',
 '48',
 '75',
 '82',
 '57',
 '59',
 '85',
 '96',
 '-',
 '-',
 '87',
 '84',
 '98',
 '68',
 '66',
 '-',
 '-',
 '76']

In [829]:
w_onboard=[]
try:
    
    search_w_onboard=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for a in search_w_onboard:
        w_onboard.append(a.text)

except NoSuchElementException as e:
    search_w_onboard=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    w_onboard.append(a.text)

w_onboard

['1',
 '12',
 '10',
 '4',
 '15',
 '14',
 '20',
 '25',
 '4',
 '52',
 '13',
 '42',
 '27',
 '3',
 '37',
 '16',
 '4',
 '14',
 '14',
 '23',
 '10',
 '8',
 '4',
 '2',
 '19',
 '13',
 '22',
 '1',
 '10',
 '26',
 '9',
 '1',
 '30',
 '5',
 '13',
 '19',
 '2',
 '1',
 '19',
 '1',
 '28',
 '5',
 '10',
 '17',
 '20',
 '4',
 '3',
 '3',
 '13',
 '2',
 '11',
 '12',
 '1',
 '4',
 '8',
 '3',
 '11',
 '1',
 '1',
 '4',
 '1',
 '1',
 '9',
 '9',
 '9',
 '14',
 '1',
 '23',
 '1',
 '15',
 '5',
 '4',
 '16',
 '7',
 '9',
 '7',
 '9',
 '11',
 '12',
 '1',
 '13',
 '18',
 '1',
 '4',
 '9',
 '18',
 '4',
 '4',
 '17',
 '7',
 '1',
 '1',
 '6',
 '8',
 '2',
 '4',
 '4',
 '1',
 '1',
 '5']

In [830]:
Nos=[]
for i in range(1,len(w_onboard)+1):
    Nos.append(i)

In [834]:
import pandas as pd
top_100_songs=pd.DataFrame({})
top_100_songs['Nos']=Nos
top_100_songs['Songs name']=Song_name    
top_100_songs['Artist name']=Artist_name    
top_100_songs['Last week rank']=l_w_rnk    
top_100_songs['Peak rank']=p_rnk    
top_100_songs['Weeks on board']=w_onboard    
top_100_songs.style.hide_index()

These are the scraped details of top 100 songs on billboard.com.

In [832]:
top_100_songs.to_csv("Top_100_Songs.csv")

QUESTION NO-7: Scrape the details of Data science recruiters from naukri.com

In [833]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [615]:
url="https://www.naukri.com/"

In [616]:
driver.get(url)

In [617]:
time.sleep(1)

In [618]:
search_btn6=driver.find_element_by_xpath("//a[@title='Search Recruiters']")

In [619]:
try:
    
    search_btn6.click()
    time.sleep(3)
    
    time.sleep(30)
    
    
except NoSuchElementException as e:
    search_btn6.click()
    time.sleep(3)
    
    time.sleep(30)

In [620]:

try:
    next_link=search_btn6.get_attribute("href")
    driver.get(next_link)
    driver.get(driver.current_url)
    search_BAR=driver.find_element_by_xpath("//input[@class='sugInp']")
    search_BAR.send_keys("Data science")
    search_BTN=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
    search_BTN.click()

except NoSuchElementException as e:
    next_link=search_btn6.get_attribute("href")
    driver.get(next_link)
    driver.get(driver.current_url)
    search_BAR=driver.find_element_by_xpath("//input[@class='sugInp']")
    search_BAR.send_keys("Data science")
    search_BTN=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
    search_BTN.click()

In [621]:
Rec_name=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_name=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    for a in search_Rec_name:
        Rec_name.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_name=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    Rec_name.append(a.text)

Rec_name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'Narasimha',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'SREEDHAR',
 'Ravi Dubey',
 'Radha Manivasagam',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar']

In [622]:
Rec_Designation=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_Designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    for a in search_Rec_Designation:
        Rec_Designation.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_Designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
    Rec_Designation.append(a.text)

Rec_Designation

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'Senior Executive Talent Acquisition',
 'HR Team Lead',
 'HR Manager',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Senior Manager',
 'Company Recruitment Head',
 'Project Manager',
 'Recruitment Consultant',
 'Recruitment Manager',
 'HR Executive',
 'Head',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect']

In [623]:
Rec_company=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_company=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    for a in search_Rec_company:
        Rec_company.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Rec_company=driver.find_elements_by_xpath("//p[@class='highlightable']//a[1]")
    Rec_company.append(a.text)

Rec_company

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'Narasimha',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Ruchi Dhote',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Priya Khare',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'SREEDHAR',
 'Ravi Dubey',
 'Radha Manivasagam',
 'Prateek Kumar',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar']

In [624]:
job_skills=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_job_skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for a in search_job_skills:
        job_skills.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_job_skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    job_skills.append(a.text)

job_skills

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Data Modeling, Data Wrangling, seaborn, eda, python, r, Data Science, ai, Machine Learning, Deep Learning, Neural Networks',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Walmart Interra Skeps Expressstores indifi whitehatJr Practo Zylo Doctalk Medtrail',
 'Python, Artificial Intelligence, Machine Learning, Data Science',
 'Java, Python, Angularjs, Software Testing, Machine Learning, Data Science, Javascript, Django, React.js, Node.js, Augmented Reality, Virtual Reality, Advanced',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics']

In [628]:
Location=[]
try:
    driver.switch_to.window(driver.window_handles[0])
    search_Location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    for a in search_Location:
        Location.append(a.text)

except NoSuchElementException as e:
    driver.switch_to.window(driver.window_handles[0])
    search_Location=driver.find_elements_by_xpath("//small[@class='ellipsis']")
    Location.append('_')

Location

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'Hyderabad / Secunderabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Pune',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Ghaziabad',
 'Bengaluru / Bangalore',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai']

In [626]:
Nos=[]
for i in range(1,len(Rec_name)+1):
    Nos.append(i)

In [634]:
import pandas as pd
Data_science_recruiters=pd.DataFrame({})
Data_science_recruiters['Nos']=Nos[:49]
Data_science_recruiters['Name']=Rec_name[:49]    
Data_science_recruiters['Designation']=Rec_Designation[:49]    
Data_science_recruiters['Company']=Rec_company[:49]    
Data_science_recruiters['Skills they hire for']=job_skills[:49]    
Data_science_recruiters['Location']=Location[:49]    
Data_science_recruiters.style.hide_index()

These are the scraped details of Data science recruiters from naukri.com.

In [635]:
Data_science_recruiters.to_csv("Data_science_recruiters.csv")

QUESTION NO-8: Scrape the details of Highest selling novels

In [640]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [641]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

In [642]:
driver.get(url)

In [643]:
time.sleep(1)

In [644]:
Book_name=[]
try:
    search_Book_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[2]")
    for a in search_Book_name:
        Book_name.append(a.text)

except NoSuchElementException as e:
    search_Book_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[2]")
    Book_name.append('_')

Book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [645]:
Author_name=[]
try:
    search_Author_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[3]")
    for a in search_Author_name:
        Author_name.append(a.text)

except NoSuchElementException as e:
    search_Author_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[3]")
    Author_name.append('_')

Author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [647]:
Volumes_sold=[]
try:
    search_Volumes_sold=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[4]")
    for a in search_Volumes_sold:
        Volumes_sold.append(a.text)

except NoSuchElementException as e:
    search_Volumes_sold=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[4]")
    Volumes_sold.append('_')

Volumes_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [648]:
publisher=[]
try:
    search_publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[5]")
    for a in search_publisher:
        publisher.append(a.text)
        

except NoSuchElementException as e:
    search_publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[5]")
    publisher.append('_')

publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [649]:
Genre=[]
try:
    search_Genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[6]")
    for a in search_Genre:
        Genre.append(a.text)
        

except NoSuchElementException as e:
    search_Genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[6]")
    Genre.append('_')

Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [650]:
Nos=[]
for i in range(1,len(Book_name)+1):
    Nos.append(i)

In [651]:
import pandas as pd
Highest_selling_novels=pd.DataFrame({})
Highest_selling_novels['Nos']=Nos
Highest_selling_novels['Book name']=Book_name    
Highest_selling_novels['Author name']=Author_name  
Highest_selling_novels['Volumes sold']=Volumes_sold  
Highest_selling_novels['Publisher']=publisher  
Highest_selling_novels['Genre']=Genre  
Highest_selling_novels.style.hide_index()

These are the scraped details of Highest selling novels.

In [652]:
Highest_selling_novels.to_csv("Highest_selling_novels.csv")

QUESTION NO-9 : Scrape the details most watched tv series of all time from imdb.com.

In [836]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [837]:
url="https://www.imdb.com/list/ls095964455/"

In [838]:
driver.get(url)

In [656]:
time.sleep(1)

In [657]:
M_Name=[]
try:
    search_M_Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
    for a in search_M_Name:
        M_Name.append(a.text)
        

except NoSuchElementException as e:
    search_M_Name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
    M_Name.append('_')

M_Name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [658]:
Year_span=[]
try:
    search_Year_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    for a in search_Year_span:
        Year_span.append(a.text)
        

except NoSuchElementException as e:
    search_Year_span=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
    Year_span.append('_')

Year_span

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014– )',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016– )',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2014– )',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016– )',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019– )',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017– )',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005–2020)',
 '(2015–2019)',
 '(2018)']

In [659]:
M_Genre=[]
try:
    search_M_Genre=driver.find_elements_by_xpath("//span[@class='genre']")
    for a in search_M_Genre:
        M_Genre.append(a.text)
        

except NoSuchElementException as e:
    search_M_Genre=driver.find_elements_by_xpath("//span[@class='genre']")
    M_Genre.append('_')

M_Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Mystery',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Action, Drama, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [660]:
M_Ratings=[]
try:
    search_M_Ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
    for a in search_M_Ratings:
        M_Ratings.append(a.text)
        

except NoSuchElementException as e:
    search_M_Ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]")
    M_Ratings.append('_')

M_Ratings

['9.2',
 '8.7',
 '8.2',
 '7.5',
 '7.6',
 '8',
 '6.7',
 '7.5',
 '7.6',
 '7.5',
 '8.2',
 '8.1',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.4',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.6',
 '8.6',
 '7.7',
 '8.8',
 '8.6',
 '8.8',
 '8.3',
 '8.4',
 '8.5',
 '8.2',
 '6.2',
 '7.4',
 '8.3',
 '7.8',
 '8.6',
 '7.9',
 '8.4',
 '9.2',
 '6.6',
 '8.1',
 '8.7',
 '8.8',
 '7.5',
 '8.3',
 '8.5',
 '7.7',
 '7.5',
 '7.7',
 '8.6',
 '6.9',
 '8.1',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.4',
 '6.8',
 '8.4',
 '7.5',
 '8.1',
 '7.8',
 '6.7',
 '8.7',
 '8.4',
 '6.6',
 '8',
 '8.9',
 '7.8',
 '7.5',
 '8.8',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.6',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.3',
 '8.5',
 '6.5',
 '8.1',
 '8.6',
 '9.4',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [661]:
M_Votes=[]
try:
    search_M_Votes=driver.find_elements_by_xpath("//span[@name='nv']")
    for a in search_M_Votes:
        M_Votes.append(a.text)
        

except NoSuchElementException as e:
    search_M_Votes=driver.find_elements_by_xpath("//span[@name='nv']")
    M_Votes.append('_')

M_Votes

['1,882,517',
 '915,891',
 '904,337',
 '270,912',
 '231,309',
 '287,381',
 '130,102',
 '274,051',
 '325,268',
 '417,937',
 '390,607',
 '752,812',
 '480,757',
 '852,385',
 '471,731',
 '157,755',
 '297,970',
 '295,232',
 '1,589,837',
 '287,017',
 '410,568',
 '499,217',
 '139,149',
 '135,893',
 '381,090',
 '214,668',
 '382,757',
 '381,433',
 '902,110',
 '634,036',
 '379,929',
 '353,275',
 '124,955',
 '117,400',
 '162,334',
 '145,946',
 '218,731',
 '452,432',
 '200,658',
 '387,162',
 '435,586',
 '57,461',
 '163,435',
 '481,345',
 '323,995',
 '63,461',
 '215,327',
 '216,794',
 '204,614',
 '207,486',
 '167,510',
 '677,349',
 '120,039',
 '316,335',
 '218,706',
 '519,655',
 '413,819',
 '431,679',
 '58,847',
 '105,745',
 '325,848',
 '69,706',
 '97,781',
 '203,863',
 '84,618',
 '78,008',
 '43,351',
 '141,590',
 '344,726',
 '265,660',
 '103,516',
 '182,177',
 '523,583',
 '96,773',
 '121,523',
 '358,717',
 '101,938',
 '200,220',
 '76,913',
 '17,492',
 '118,942',
 '132,659',
 '120,904',
 '33,706',
 '243,750',
 '116,083',
 '121,846',
 '69,749',
 '96,376',
 '173,982',
 '25,042',
 '172,435',
 '175,515',
 '615,244',
 '63,375',
 '45,899',
 '56,772',
 '177,342',
 '36,886',
 '203,718']

In [839]:
run_time=[]
try:
    search_run_time=driver.find_elements_by_xpath("//span[@class='runtime']")
    for a in search_run_time:
        run_time.append(a.text)
        

except NoSuchElementException as e:
    search_run_time=driver.find_elements_by_xpath("//span[@class='runtime']")
    run_time.append('_')

run_time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [662]:
Nos=[]
for i in range(1,len(M_Name)+1):
    Nos.append(i)

In [840]:
import pandas as pd
Tv_series_imdb=pd.DataFrame({})
Tv_series_imdb['Nos']=Nos
Tv_series_imdb['Movie Name']=M_Name    
Tv_series_imdb['Year span']=Year_span 
Tv_series_imdb['Genre']=M_Genre  
Tv_series_imdb['Run time']=run_time  
Tv_series_imdb['Ratings']=M_Ratings  
Tv_series_imdb['Votes']=M_Votes  
Tv_series_imdb.style.hide_index()

These are the scraped details of most watched tv series of all time from imdb.com

In [667]:
Highest_selling_novels.to_csv("Highest_selling_novels.csv")

QUESTION NO-10:   Details of Datasets from UCI machine learning repositories.

In [668]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [669]:
url="https://archive.ics.uci.edu/ml/index.php"

In [670]:
driver.get(url)

In [671]:
time.sleep(1)

In [672]:
search_btn7=driver.find_element_by_xpath("//span[@class='whitetext']//a//font//b")

In [673]:
try:  
    search_btn7.click()
except ElementNotInteractableException as e:
    search_btn7.click()

In [674]:
Dataset_name=[]
try:
    
    search_Dataset_name=driver.find_elements_by_xpath("//p[@class='normal']//b//a")
    for a in search_Dataset_name:
        Dataset_name.append(a.text)

except NoSuchElementException as e:
    search_Dataset_name=driver.find_elements_by_xpath("//p[@class='normal']//b//a")
    Dataset_name.append(a.text)

Dataset_name

['Abalone',
 'Adult',
 'Annealing',
 'Anonymous Microsoft Web Data',
 'Arrhythmia',
 'Artificial Characters',
 'Audiology (Original)',
 'Audiology (Standardized)',
 'Auto MPG',
 'Automobile',
 'Badges',
 'Balance Scale',
 'Balloons',
 'Breast Cancer',
 'Breast Cancer Wisconsin (Original)',
 'Breast Cancer Wisconsin (Prognostic)',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Pittsburgh Bridges',
 'Car Evaluation',
 'Census Income',
 'Chess (King-Rook vs. King-Knight)',
 'Chess (King-Rook vs. King-Pawn)',
 'Chess (King-Rook vs. King)',
 'Chess (Domain Theories)',
 'Bach Chorales',
 'Connect-4',
 'Credit Approval',
 'Japanese Credit Screening',
 'Computer Hardware',
 'Contraceptive Method Choice',
 'Covertype',
 'Cylinder Bands',
 'Dermatology',
 'Diabetes',
 'DGP2 - The Second Data Generation Program',
 'Document Understanding',
 'EBL Domain Theories',
 'Echocardiogram',
 'Ecoli',
 'Flags',
 'Function Finding',
 'Glass Identification',
 "Haberman's Survival",
 'Hayes-Roth',
 'Heart Disease',
 'Hepatitis',
 'Horse Colic',
 'ICU',
 'Image Segmentation',
 'Internet Advertisements',
 'Ionosphere',
 'Iris',
 'ISOLET',
 'Kinship',
 'Labor Relations',
 'LED Display Domain',
 'Lenses',
 'Letter Recognition',
 'Liver Disorders',
 'Logic Theorist',
 'Lung Cancer',
 'Lymphography',
 'Mechanical Analysis',
 'Meta-data',
 'Mobile Robots',
 'Molecular Biology (Promoter Gene Sequences)',
 'Molecular Biology (Protein Secondary Structure)',
 'Molecular Biology (Splice-junction Gene Sequences)',
 "MONK's Problems",
 'Moral Reasoner',
 'Multiple Features',
 'Mushroom',
 'Musk (Version 1)',
 'Musk (Version 2)',
 'Nursery',
 'Othello Domain Theory',
 'Page Blocks Classification',
 'Optical Recognition of Handwritten Digits',
 'Pen-Based Recognition of Handwritten Digits',
 'Post-Operative Patient',
 'Primary Tumor',
 'Prodigy',
 'Qualitative Structure Activity Relationships',
 'Quadruped Mammals',
 'Servo',
 'Shuttle Landing Control',
 'Solar Flare',
 'Soybean (Large)',
 'Soybean (Small)',
 'Challenger USA Space Shuttle O-Ring',
 'Low Resolution Spectrometer',
 'Spambase',
 'SPECT Heart',
 'SPECTF Heart',
 'Sponge',
 'Statlog Project',
 'Student Loan Relational',
 'Teaching Assistant Evaluation',
 'Tic-Tac-Toe Endgame',
 'Thyroid Disease',
 'Trains',
 'University',
 'Congressional Voting Records',
 'Water Treatment Plant',
 'Waveform Database Generator (Version 1)',
 'Waveform Database Generator (Version 2)',
 'Wine',
 'Yeast',
 'Zoo',
 'Undocumented',
 'Twenty Newsgroups',
 'Australian Sign Language signs',
 'Australian Sign Language signs (High Quality)',
 'US Census Data (1990)',
 'Census-Income (KDD)',
 'Coil 1999 Competition Data',
 'Corel Image Features',
 'E. Coli Genes',
 'EEG Database',
 'El Nino',
 'Entree Chicago Recommendation Data',
 'CMU Face Images',
 'Insurance Company Benchmark (COIL 2000)',
 'Internet Usage Data',
 'IPUMS Census Database',
 'Japanese Vowels',
 'KDD Cup 1998 Data',
 'KDD Cup 1999 Data',
 'M. Tuberculosis Genes',
 'Movie',
 'MSNBC.com Anonymous Web Data',
 'NSF Research Award Abstracts 1990-2003',
 'Pioneer-1 Mobile Robot Data',
 'Pseudo Periodic Synthetic Time Series',
 'Reuters-21578 Text Categorization Collection',
 'Robot Execution Failures',
 'Synthetic Control Chart Time Series',
 'Syskill and Webert Web Page Ratings',
 'UNIX User Data',
 'Volcanoes on Venus - JARtool experiment',
 'Statlog (Australian Credit Approval)',
 'Statlog (German Credit Data)',
 'Statlog (Heart)',
 'Statlog (Landsat Satellite)',
 'Statlog (Image Segmentation)',
 'Statlog (Shuttle)',
 'Statlog (Vehicle Silhouettes)',
 'Connectionist Bench (Nettalk Corpus)',
 'Connectionist Bench (Sonar, Mines vs. Rocks)',
 'Connectionist Bench (Vowel Recognition - Deterding Data)',
 'Economic Sanctions',
 'Protein Data',
 'Cloud',
 'CalIt2 Building People Counts',
 'Dodgers Loop Sensor',
 'Poker Hand',
 'MAGIC Gamma Telescope',
 'UJI Pen Characters',
 'Mammographic Mass',
 'Forest Fires',
 'Reuters Transcribed Subset',
 'Bag of Words',
 'Concrete Compressive Strength',
 'Hill-Valley',
 'Arcene',
 'Dexter',
 'Dorothea',
 'Gisette',
 'Madelon',
 'Ozone Level Detection',
 'Abscisic Acid Signaling Network',
 'Parkinsons',
 'Character Trajectories',
 'Blood Transfusion Service Center',
 'UJI Pen Characters (Version 2)',
 'Semeion Handwritten Digit',
 'SECOM',
 'Plants',
 'Libras Movement',
 'Concrete Slump Test',
 'Communities and Crime',
 'Acute Inflammations',
 'Wine Quality',
 'URL Reputation',
 'p53 Mutants',
 'Parkinsons Telemonitoring',
 'Demospongiae',
 'Opinosis Opinion ⁄ Review',
 'Breast Tissue',
 'Cardiotocography',
 'Wall-Following Robot Navigation Data',
 'Spoken Arabic Digit',
 'Localization Data for Person Activity',
 'AutoUniv',
 'Steel Plates Faults',
 'MiniBooNE particle identification',
 'YearPredictionMSD',
 'PEMS-SF',
 'OpinRank Review Dataset',
 'Relative location of CT slices on axial axis',
 'Online Handwritten Assamese Characters Dataset',
 'PubChem Bioassay Data',
 'Record Linkage Comparison Patterns',
 'Communities and Crime Unnormalized',
 'Vertebral Column',
 'EMG Physical Action Data Set',
 'Vicon Physical Action Data Set',
 'Amazon Commerce reviews set',
 'Amazon Access Samples',
 'Reuter_50_50',
 'Farm Ads',
 'DBWorld e-mails',
 'KEGG Metabolic Relation Network (Directed)',
 'KEGG Metabolic Reaction Network (Undirected)',
 'Bank Marketing',
 'YouTube Comedy Slam Preference Data',
 'Gas Sensor Array Drift Dataset',
 'ILPD (Indian Liver Patient Dataset)',
 'OPPORTUNITY Activity Recognition',
 'Nomao',
 'SMS Spam Collection',
 'Skin Segmentation',
 'Planning Relax',
 'PAMAP2 Physical Activity Monitoring',
 'Restaurant & consumer data',
 'CNAE-9',
 'Individual household electric power consumption',
 'seeds',
 'Northix',
 'QtyT40I10D100K',
 'Legal Case Reports',
 'Human Activity Recognition Using Smartphones',
 'One-hundred plant species leaves data set',
 'Energy efficiency',
 'Yacht Hydrodynamics',
 'Fertility',
 'Daphnet Freezing of Gait',
 '3D Road Network (North Jutland, Denmark)',
 'ISTANBUL STOCK EXCHANGE',
 'Buzz in social media',
 'First-order theorem proving',
 'Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)',
 'Gas sensor arrays in open sampling settings',
 'Climate Model Simulation Crashes',
 'MicroMass',
 'QSAR biodegradation',
 'BLOGGER',
 'Daily and Sports Activities',
 'User Knowledge Modeling',
 'Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection',
 'NYSK',
 'Turkiye Student Evaluation',
 "ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)",
 'EEG Eye State',
 'Physicochemical Properties of Protein Tertiary Structure',
 'seismic-bumps',
 'banknote authentication',
 'USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat',
 'YouTube Multiview Video Games Dataset',
 'Gas Sensor Array Drift Dataset at Different Concentrations',
 'Activities of Daily Living (ADLs) Recognition Using Binary Sensors',
 'SkillCraft1 Master Table Dataset',
 'Weight Lifting Exercises monitored with Inertial Measurement Units',
 'SML2010',
 'Bike Sharing Dataset',
 'Predict keywords activities in a online social media',
 'Thoracic Surgery Data',
 'EMG dataset in Lower Limb',
 'SUSY',
 'HIGGS',
 'Qualitative_Bankruptcy',
 'LSVT Voice Rehabilitation',
 'Dataset for ADL Recognition with Wrist-worn Accelerometer',
 'Wilt',
 'User Identification From Walking Activity',
 'Activity Recognition from Single Chest-Mounted Accelerometer',
 'Leaf',
 'Dresses_Attribute_Sales',
 'Tamilnadu Electricity Board Hourly Readings',
 'Airfoil Self-Noise',
 'Wholesale customers',
 'Twitter Data set for Arabic Sentiment Analysis',
 'Combined Cycle Power Plant',
 'Urban Land Cover',
 'Diabetes 130-US hospitals for years 1999-2008',
 'Bach Choral Harmony',
 'StoneFlakes',
 'Tennis Major Tournament Match Statistics',
 'Parkinson Speech Dataset with Multiple Types of Sound Recordings',
 'Gesture Phase Segmentation',
 'Perfume Data',
 'BlogFeedback',
 'REALDISP Activity Recognition Dataset',
 'Newspaper and magazine images segmentation dataset',
 'AAAI 2014 Accepted Papers',
 'Gas sensor array under flow modulation',
 'Gas sensor array exposed to turbulent gas mixtures',
 'UJIIndoorLoc',
 'Sentence Classification',
 'Dow Jones Index',
 'sEMG for Basic Hand movements',
 'AAAI 2013 Accepted Papers',
 'Geographical Original of Music',
 'Condition Based Maintenance of Naval Propulsion Plants',
 'Grammatical Facial Expressions',
 'NoisyOffice',
 'MHEALTH Dataset',
 'Student Performance',
 'ElectricityLoadDiagrams20112014',
 'Gas sensor array under dynamic gas mixtures',
 'microblogPCU',
 'Firm-Teacher_Clave-Direction_Classification',
 'Dataset for Sensorless Drive Diagnosis',
 'TV News Channel Commercial Detection Dataset',
 'Phishing Websites',
 'Greenhouse Gas Observing Network',
 'Diabetic Retinopathy Debrecen Data Set',
 'HIV-1 protease cleavage',
 'Sentiment Labelled Sentences',
 'Online News Popularity',
 'Forest type mapping',
 'wiki4HE',
 'Online Video Characteristics and Transcoding Time Dataset',
 'Chronic_Kidney_Disease',
 'Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014',
 'Folio',
 'Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015',
 'Cuff-Less Blood Pressure Estimation',
 'Smartphone-Based Recognition of Human Activities and Postural Transitions',
 'Mice Protein Expression',
 'UJIIndoorLoc-Mag',
 'Heterogeneity Activity Recognition',
 'Educational Process Mining (EPM): A Learning Analytics Data Set',
 'HEPMASS',
 'Indoor User Movement Prediction from RSS data',
 'Open University Learning Analytics dataset',
 'default of credit card clients',
 'Mesothelioma’s disease data set',
 'Online Retail',
 'SIFT10M',
 'GPS Trajectories',
 'Detect Malacious Executable(AntiVirus)',
 'Occupancy Detection',
 'Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinson’s Disease',
 'News Aggregator',
 'Air Quality',
 'Twin gas sensor arrays',
 'Gas sensors for home activity monitoring',
 'Facebook Comment Volume Dataset',
 'Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)',
 'Polish companies bankruptcy data',
 'Activity Recognition system based on Multisensor data fusion (AReM)',
 'Dota2 Games Results',
 'Facebook metrics',
 'UbiqLog (smartphone lifelogging)',
 'NIPS Conference Papers 1987-2015',
 'HTRU2',
 'Drug consumption (quantified)',
 'Appliances energy prediction',
 'Miskolc IIS Hybrid IPS',
 'KDC-4007 dataset Collection',
 'Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone',
 'DrivFace',
 'Website Phishing',
 'YouTube Spam Collection',
 'Beijing PM2.5 Data',
 'Cargo 2000 Freight Tracking and Tracing',
 'Cervical cancer (Risk Factors)',
 'Quality Assessment of Digital Colposcopies',
 'KASANDR',
 'FMA: A Dataset For Music Analysis',
 'Air quality',
 'Epileptic Seizure Recognition',
 'Devanagari Handwritten Character Dataset',
 'Stock portfolio performance',
 'MoCap Hand Postures',
 'Early biomarkers of Parkinson�s disease based on natural connected speech',
 'Data for Software Engineering Teamwork Assessment in Education Setting',
 'PM2.5 Data of Five Chinese Cities',
 'Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet',
 'Sales_Transactions_Dataset_Weekly',
 'Las Vegas Strip',
 'Eco-hotel',
 'MEU-Mobile KSD',
 'Crowdsourced Mapping',
 'gene expression cancer RNA-Seq',
 'Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer',
 'chestnut – LARVIC',
 'Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network',
 'Motion Capture Hand Postures',
 'Anuran Calls (MFCCs)',
 'TTC-3600: Benchmark dataset for Turkish text categorization',
 'Gastrointestinal Lesions in Regular Colonoscopy',
 'Daily Demand Forecasting Orders',
 'Paper Reviews',
 'extention of Z-Alizadeh sani dataset',
 'Z-Alizadeh Sani',
 'Dynamic Features of VirusShare Executables',
 'IDA2016Challenge',
 'DSRC Vehicle Communications',
 'Mturk User-Perceived Clusters over Images',
 'Character Font Images',
 'DeliciousMIL: A Data Set for Multi-Label Multi-Instance Learning with Instance Labels',
 'Autistic Spectrum Disorder Screening Data for Children',
 'Autistic Spectrum Disorder Screening Data for Adolescent',
 'APS Failure at Scania Trucks',
 'Wireless Indoor Localization',
 'HCC Survival',
 'CSM (Conventional and Social Media Movies) Dataset 2014 and 2015',
 'University of Tehran Question Dataset 2016 (UTQD.2016)',
 'Autism Screening Adult',
 'Activity recognition with healthy older people using a batteryless wearable sensor',
 'Immunotherapy Dataset',
 'Cryotherapy Dataset',
 'OCT data & Color Fundus Images of Left & Right Eyes',
 'Discrete Tone Image Dataset',
 'News Popularity in Multiple Social Media Platforms',
 'Ultrasonic flowmeter diagnostics',
 'ICMLA 2014 Accepted Papers Data Set',
 'BLE RSSI Dataset for Indoor localization and Navigation',
 'Container Crane Controller Data Set',
 'Residential Building Data Set',
 'Health News in Twitter',
 'chipseq',
 'SGEMM GPU kernel performance',
 'Repeat Consumption Matrices',
 'detection_of_IoT_botnet_attacks_N_BaIoT',
 'Absenteeism at work',
 'SCADI',
 'Condition monitoring of hydraulic systems',
 'Carbon Nanotubes',
 'Optical Interconnection Network',
 'Sports articles for objectivity analysis',
 'Breast Cancer Coimbra',
 'GNFUV Unmanned Surface Vehicles Sensor Data',
 'Dishonest Internet users Dataset',
 'Victorian Era Authorship Attribution',
 'Simulated Falls and Daily Living Activities Data Set',
 'Multimodal Damage Identification for Humanitarian Computing',
 'EEG Steady-State Visual Evoked Potential Signals',
 'Roman Urdu Data Set',
 'Avila',
 'PANDOR',
 'Drug Review Dataset (Druglib.com)',
 'Drug Review Dataset (Drugs.com)',
 'Physical Unclonable Functions',
 'Superconductivty Data',
 'WESAD (Wearable Stress and Affect Detection)',
 'GNFUV Unmanned Surface Vehicles Sensor Data Set 2',
 'Student Academics Performance',
 'Online Shoppers Purchasing Intention Dataset',
 'PMU-UD',
 "Parkinson's Disease Classification",
 'Electrical Grid Stability Simulated Data',
 'Caesarian Section Classification Dataset',
 'BAUM-1',
 'BAUM-2',
 'Audit Data',
 'BuddyMove Data Set',
 'Real estate valuation data set',
 'Early biomarkers of Parkinson’s disease based on natural connected speech Data Set',
 'Somerville Happiness Survey',
 '2.4 GHZ Indoor Channel Measurements',
 'EMG data for gestures',
 'Parking Birmingham',
 'Behavior of the urban traffic of the city of Sao Paulo in Brazil',
 'Travel Reviews',
 'Tarvel Review Ratings',
 'Rice Leaf Diseases',
 'Gas sensor array temperature modulation',
 'Facebook Live Sellers in Thailand',
 'Parkinson Dataset with replicated acoustic features',
 'Metro Interstate Traffic Volume',
 'Query Analytics Workloads Dataset',
 'Wave Energy Converters',
 'PPG-DaLiA',
 'Alcohol QCM Sensor Dataset',
 'Divorce Predictors data set',
 'Incident management process enriched event log',
 'Opinion Corpus for Lebanese Arabic Reviews (OCLAR)',
 'MEx',
 'Beijing Multi-Site Air-Quality Data',
 'Online Retail II',
 'Hepatitis C Virus (HCV) for Egyptian patients',
 'QSAR fish toxicity',
 'QSAR aquatic toxicity',
 'Human Activity Recognition from Continuous Ambient Sensor Data',
 'WISDM Smartphone and Smartwatch Activity and Biometrics Dataset',
 'QSAR oral toxicity',
 'QSAR androgen receptor',
 'QSAR Bioconcentration classes dataset',
 'QSAR fish bioconcentration factor (BCF)',
 'A study of Asian Religious and Biblical Texts',
 'Real-time Election Results: Portugal 2019',
 'Bias correction of numerical prediction model temperature forecast',
 'Bar Crawl: Detecting Heavy Drinking',
 'Kitsune Network Attack Dataset',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'Speaker Accent Recognition',
 'Heart failure clinical records',
 'Deepfakes: Medical Image Tamper Detection',
 'selfBACK',
 'South German Credit',
 'Exasens',
 'Swarm Behaviour',
 'Crop mapping using fused optical-radar data set',
 'BitcoinHeistRansomwareAddressDataset',
 'Facebook Large Page-Page Network',
 'Amphibians',
 'Early stage diabetes risk prediction dataset.',
 'Turkish Spam V01',
 'Stock keeping units',
 'Demand Forecasting for a store',
 'Detect Malware Types',
 'Wave Energy Converters',
 'Youtube cookery channels viewers comments in Hinglish',
 'Pedestrian in Traffic Dataset',
 'Cervical Cancer Behavior Risk',
 'Sattriya_Dance_Single_Hand_Gestures Dataset',
 'Divorce Predictors data set',
 '3W dataset',
 'Malware static and dynamic features VxHeaven and Virus Total',
 'Internet Firewall Data',
 'User Profiling and Abusive Language Detection Dataset',
 'Estimation of obesity levels based on eating habits and physical condition',
 'Rice (Cammeo and Osmancik)',
 'Vehicle routing and scheduling problems',
 'Algerian Forest Fires Dataset',
 'Breath Metabolomics',
 'Horton General Hospital',
 'UrbanGB, urban road accidents coordinates labelled by the urban center',
 'Gas Turbine CO and NOx Emission Data Set',
 'Activity recognition using wearable physiological measurements',
 'clickstream data for online shopping',
 'CNNpred: CNN-based stock market prediction using a diverse set of variables',
 'Apartment for rent classified',
 ': Simulated Data set of Iraqi tourism places',
 'Nasarian CAD Dataset',
 'Monolithic Columns in Troad and Mysia Region',
 'Bar Crawl: Detecting Heavy Drinking',
 'Seoul Bike Sharing Demand',
 'Person Classification Gait Data',
 'Shill Bidding Dataset',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Bone marrow transplant: children',
 'Exasens',
 'COVID-19 Surveillance',
 'Refractive errors',
 'Shoulder Implant X-Ray Manufacturer Classification',
 'CLINC150',
 'HCV data',
 'Taiwanese Bankruptcy Prediction',
 'South German Credit (UPDATE)',
 'IIWA14-R820-Gazebo-Dataset-10Trajectories',
 'Guitar Chords finger positions',
 'Russian Corpus of Biographical Texts',
 'Codon usage',
 'Intelligent Media Accelerometer and Gyroscope (IM-AccGyro) Dataset',
 'Myocardial infarction complications',
 'Hungarian Chickenpox Cases',
 'Simulated data for survival modelling',
 'Student Performance on an entrance examination',
 'Chemical Composition of Ceramic Samples',
 'Labeled Text Forum Threads Dataset',
 'Stock keeping units',
 'BLE RSSI dataset for Indoor localization',
 'Basketball dataset',
 'GitHub MUSAE',
 'Anticancer peptides',
 'Monolithic Columns in Troad and Mysia Region',
 'Gender by Name',
 'Iranian Churn Dataset',
 'Unmanned Aerial Vehicle (UAV) Intrusion Detection',
 'Shoulder Implant Manufacture Classification',
 'LastFM Asia Social Network',
 'Wheat kernels',
 'Productivity Prediction of Garment Employees',
 'Multi-view Brain Networks',
 'LastFM Asia Social Network',
 'Wisesight Sentiment Corpus',
 'AI4I 2020 Predictive Maintenance Dataset',
 'Dry Bean Dataset',
 'in-vehicle coupon recommendation',
 'Gait Classification',
 'Wikipedia Math Essentials',
 'Wikipedia Math Essentials',
 'Synchronous Machine Data Set']

In [676]:
Data_type=[]
try:
    
    search_Data_type=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[2]//p[1]")
    for a in search_Data_type:
        Data_type.append(a.text)

except NoSuchElementException as e:
    search_Data_type=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[2]//p[1]")
    Data_type.append(a.text)

Data_type

['Data Types',
 'Abalone',
 'Multivariate ',
 'Adult',
 'Multivariate ',
 'Annealing',
 'Multivariate ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Arrhythmia',
 'Multivariate ',
 'Artificial Characters',
 'Multivariate ',
 'Audiology (Original)',
 'Multivariate ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Auto MPG',
 'Multivariate ',
 'Automobile',
 'Multivariate ',
 'Badges',
 'Univariate, Text ',
 'Balance Scale',
 'Multivariate ',
 'Balloons',
 'Multivariate ',
 'Breast Cancer',
 'Multivariate ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Car Evaluation',
 'Multivariate ',
 'Census Income',
 'Multivariate ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Credit Approval',
 'Multivariate ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Computer Hardware',
 'Multivariate ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Covertype',
 'Multivariate ',
 'Cylinder Bands',
 'Multivariate ',
 'Dermatology',
 'Multivariate ',
 'Diabetes',
 'Multivariate, Time-Series ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 'Document Understanding',
 ' ',
 'EBL Domain Theories',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Ecoli',
 'Multivariate ',
 'Flags',
 'Multivariate ',
 'Function Finding',
 ' ',
 'Glass Identification',
 'Multivariate ',
 "Haberman's Survival",
 'Multivariate ',
 'Hayes-Roth',
 'Multivariate ',
 'Heart Disease',
 'Multivariate ',
 'Hepatitis',
 'Multivariate ',
 'Horse Colic',
 'Multivariate ',
 'ICU',
 'Multivariate, Time-Series ',
 'Image Segmentation',
 'Multivariate ',
 'Internet Advertisements',
 'Multivariate ',
 'Ionosphere',
 'Multivariate ',
 'Iris',
 'Multivariate ',
 'ISOLET',
 'Multivariate ',
 'Kinship',
 'Relational ',
 'Labor Relations',
 'Multivariate ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Lenses',
 'Multivariate ',
 'Letter Recognition',
 'Multivariate ',
 'Liver Disorders',
 'Multivariate ',
 'Logic Theorist',
 'Domain-Theory ',
 'Lung Cancer',
 'Multivariate ',
 'Lymphography',
 'Multivariate ',
 'Mechanical Analysis',
 'Multivariate ',
 'Meta-data',
 'Multivariate ',
 'Mobile Robots',
 'Domain-Theory ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 "MONK's Problems",
 'Multivariate ',
 'Moral Reasoner',
 'Domain-Theory ',
 'Multiple Features',
 'Multivariate ',
 'Mushroom',
 'Multivariate ',
 'Musk (Version 1)',
 'Multivariate ',
 'Musk (Version 2)',
 'Multivariate ',
 'Nursery',
 'Multivariate ',
 'Othello Domain Theory',
 'Domain-Theory ',
 'Page Blocks Classification',
 'Multivariate ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Post-Operative Patient',
 'Multivariate ',
 'Primary Tumor',
 'Multivariate ',
 'Prodigy',
 'Domain-Theory ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Servo',
 'Multivariate ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Solar Flare',
 'Multivariate ',
 'Soybean (Large)',
 'Multivariate ',
 'Soybean (Small)',
 'Multivariate ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Spambase',
 'Multivariate ',
 'SPECT Heart',
 'Multivariate ',
 'SPECTF Heart',
 'Multivariate ',
 'Sponge',
 'Multivariate ',
 'Statlog Project',
 ' ',
 'Student Loan Relational',
 'Domain-Theory ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Trains',
 'Multivariate ',
 'University',
 'Multivariate ',
 'Congressional Voting Records',
 'Multivariate ',
 'Water Treatment Plant',
 'Multivariate ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Wine',
 'Multivariate ',
 'Yeast',
 'Multivariate ',
 'Zoo',
 'Multivariate ',
 'Undocumented',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'US Census Data (1990)',
 'Multivariate ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 'Corel Image Features',
 'Multivariate ',
 'E. Coli Genes',
 'Relational ',
 'EEG Database',
 'Multivariate, Time-Series ',
 'El Nino',
 'Spatio-temporal ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'CMU Face Images',
 'Image ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Internet Usage Data',
 'Multivariate ',
 'IPUMS Census Database',
 'Multivariate ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'M. Tuberculosis Genes',
 'Relational ',
 'Movie',
 'Multivariate, Relational ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'UNIX User Data',
 'Text, Sequential ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Statlog (Heart)',
 'Multivariate ',
 'Statlog (Landsat Satellite)',
 'Multivariate ',
 'Statlog (Image Segmentation)',
 'Multivariate ',
 'Statlog (Shuttle)',
 'Multivariate ',
 'Statlog (Vehicle Silhouettes)',
 'Multivariate ',
 'Connectionist Bench (Nettalk Corpus)',
 'Multivariate ',
 'Connectionist Bench (Sonar, Mines vs. Rocks)',
 'Multivariate ',
 'Connectionist Bench (Vowel Recognition - Deterding Data)',
 ' ',
 'Economic Sanctions',
 'Domain-Theory ',
 'Protein Data',
 ' ',
 'Cloud',
 'Multivariate ',
 'CalIt2 Building People Counts',
 'Multivariate, Time-Series ',
 'Dodgers Loop Sensor',
 'Multivariate, Time-Series ',
 'Poker Hand',
 'Multivariate ',
 'MAGIC Gamma Telescope',
 'Multivariate ',
 'UJI Pen Characters',
 'Multivariate, Sequential ',
 'Mammographic Mass',
 'Multivariate ',
 'Forest Fires',
 'Multivariate ',
 'Reuters Transcribed Subset',
 'Text ',
 'Bag of Words',
 'Text ',
 'Concrete Compressive Strength',
 'Multivariate ',
 'Hill-Valley',
 'Sequential ',
 'Arcene',
 'Multivariate ',
 'Dexter',
 'Multivariate ',
 'Dorothea',
 'Multivariate ',
 'Gisette',
 'Multivariate ',
 'Madelon',
 'Multivariate ',
 'Ozone Level Detection',
 'Multivariate, Sequential, Time-Series ',
 'Abscisic Acid Signaling Network',
 'Multivariate ',
 'Parkinsons',
 'Multivariate ',
 'Character Trajectories',
 'Time-Series ',
 'Blood Transfusion Service Center',
 'Multivariate ',
 'UJI Pen Characters (Version 2)',
 'Multivariate, Sequential ',
 'Semeion Handwritten Digit',
 'Multivariate ',
 'SECOM',
 'Multivariate ',
 'Plants',
 'Multivariate ',
 'Libras Movement',
 'Multivariate, Sequential ',
 'Concrete Slump Test',
 'Multivariate ',
 'Communities and Crime',
 'Multivariate ',
 'Acute Inflammations',
 'Multivariate ',
 'Wine Quality',
 'Multivariate ',
 'URL Reputation',
 'Multivariate, Time-Series ',
 'p53 Mutants',
 'Multivariate ',
 'Parkinsons Telemonitoring',
 'Multivariate ',
 'Demospongiae',
 'Multivariate ',
 'Opinosis Opinion ⁄ Review',
 'Text ',
 'Breast Tissue',
 'Multivariate ',
 'Cardiotocography',
 'Multivariate ',
 'Wall-Following Robot Navigation Data',
 'Multivariate, Sequential ',
 'Spoken Arabic Digit',
 'Multivariate, Time-Series ',
 'Localization Data for Person Activity',
 'Univariate, Sequential, Time-Series ',
 'AutoUniv',
 'Multivariate ',
 'Steel Plates Faults',
 'Multivariate ',
 'MiniBooNE particle identification',
 'Multivariate ',
 'YearPredictionMSD',
 'Multivariate ',
 'PEMS-SF',
 'Multivariate, Time-Series ',
 'OpinRank Review Dataset',
 'Text ',
 'Relative location of CT slices on axial axis',
 'Domain-Theory ',
 'Online Handwritten Assamese Characters Dataset',
 'Multivariate, Sequential ',
 'PubChem Bioassay Data',
 'Multivariate ',
 'Record Linkage Comparison Patterns',
 'Multivariate ',
 'Communities and Crime Unnormalized',
 'Multivariate ',
 'Vertebral Column',
 'Multivariate ',
 'EMG Physical Action Data Set',
 'Time-Series ',
 'Vicon Physical Action Data Set',
 'Time-Series ',
 'Amazon Commerce reviews set',
 'Multivariate, Text, Domain-Theory ',
 'Amazon Access Samples',
 'Time-Series, Domain-Theory ',
 'Reuter_50_50',
 'Multivariate, Text, Domain-Theory ',
 'Farm Ads',
 'Text ',
 'DBWorld e-mails',
 'Text ',
 'KEGG Metabolic Relation Network (Directed)',
 'Multivariate, Univariate, Text ',
 'KEGG Metabolic Reaction Network (Undirected)',
 'Multivariate, Univariate, Text ',
 'Bank Marketing',
 'Multivariate ',
 'YouTube Comedy Slam Preference Data',
 'Text ',
 'Gas Sensor Array Drift Dataset',
 'Multivariate ',
 'ILPD (Indian Liver Patient Dataset)',
 'Multivariate ',
 'OPPORTUNITY Activity Recognition',
 'Multivariate, Time-Series ',
 'Nomao',
 'Univariate ',
 'SMS Spam Collection',
 'Multivariate, Text, Domain-Theory ',
 'Skin Segmentation',
 'Univariate ',
 'Planning Relax',
 'Univariate ',
 'PAMAP2 Physical Activity Monitoring',
 'Multivariate, Time-Series ',
 'Restaurant & consumer data',
 'Multivariate ',
 'CNAE-9',
 'Multivariate, Text ',
 'Individual household electric power consumption',
 'Multivariate, Time-Series ',
 'seeds',
 'Multivariate ',
 'Northix',
 'Multivariate, Univariate, Text ',
 'QtyT40I10D100K',
 'Sequential ',
 'Legal Case Reports',
 'Text ',
 'Human Activity Recognition Using Smartphones',
 'Multivariate, Time-Series ',
 'One-hundred plant species leaves data set',
 ' ',
 'Energy efficiency',
 'Multivariate ',
 'Yacht Hydrodynamics',
 'Multivariate ',
 'Fertility',
 'Multivariate ',
 'Daphnet Freezing of Gait',
 'Multivariate, Time-Series ',
 '3D Road Network (North Jutland, Denmark)',
 'Sequential, Text ',
 'ISTANBUL STOCK EXCHANGE',
 'Multivariate, Univariate, Time-Series ',
 'Buzz in social media',
 'Time-Series, Multivariate ',
 'First-order theorem proving',
 'Multivariate ',
 'Wearable Computing: Classification of Body Postures and Movements (PUC-Rio)',
 'Sequential ',
 'Gas sensor arrays in open sampling settings',
 'Multivariate, Time-Series ',
 'Climate Model Simulation Crashes',
 'Multivariate ',
 'MicroMass',
 'Multivariate ',
 'QSAR biodegradation',
 'Multivariate ',
 'BLOGGER',
 'Multivariate ',
 'Daily and Sports Activities',
 'Multivariate, Time-Series ',
 'User Knowledge Modeling',
 'Multivariate ',
 'Reuters RCV1 RCV2 Multilingual, Multiview Text Categorization Test collection',
 'Multivariate ',
 'NYSK',
 'Multivariate, Sequential, Text ',
 'Turkiye Student Evaluation',
 'Multivariate ',
 "ser Knowledge Modeling Data (Students' Knowledge Levels on DC Electrical Machines)",
 'Multivariate ',
 'EEG Eye State',
 'Multivariate, Sequential, Time-Series ',
 'Physicochemical Properties of Protein Tertiary Structure',
 'Multivariate ',
 'seismic-bumps',
 'Multivariate ',
 'banknote authentication',
 'Multivariate ',
 'USPTO Algorithm Challenge, run by NASA-Harvard Tournament Lab and TopCoder Problem: Pat',
 'Domain-Theory ',
 'YouTube Multiview Video Games Dataset',
 'Multivariate, Text ',
 'Gas Sensor Array Drift Dataset at Different Concentrations',
 'Multivariate, Time-Series ',
 'Activities of Daily Living (ADLs) Recognition Using Binary Sensors',
 'Multivariate, Sequential, Time-Series ',
 'SkillCraft1 Master Table Dataset',
 'Multivariate ',
 'Weight Lifting Exercises monitored with Inertial Measurement Units',
 'Multivariate ',
 'SML2010',
 'Multivariate, Sequential, Time-Series, Text ',
 'Bike Sharing Dataset',
 'Univariate ',
 'Predict keywords activities in a online social media',
 'Multivariate, Sequential, Time-Series ',
 'Thoracic Surgery Data',
 'Multivariate ',
 'EMG dataset in Lower Limb',
 'Multivariate, Time-Series ',
 'SUSY',
 ' ',
 'HIGGS',
 ' ',
 'Qualitative_Bankruptcy',
 'Multivariate ',
 'LSVT Voice Rehabilitation',
 'Multivariate ',
 'Dataset for ADL Recognition with Wrist-worn Accelerometer',
 'Multivariate, Time-Series ',
 'Wilt',
 'Multivariate ',
 'User Identification From Walking Activity',
 'Univariate, Sequential, Time-Series ',
 'Activity Recognition from Single Chest-Mounted Accelerometer',
 'Univariate, Sequential, Time-Series ',
 'Leaf',
 'Multivariate ',
 'Dresses_Attribute_Sales',
 'Text ',
 'Tamilnadu Electricity Board Hourly Readings',
 'Multivariate ',
 'Airfoil Self-Noise',
 'Multivariate ',
 'Wholesale customers',
 'Multivariate ',
 'Twitter Data set for Arabic Sentiment Analysis',
 'Text ',
 'Combined Cycle Power Plant',
 'Multivariate ',
 'Urban Land Cover',
 'Multivariate ',
 'Diabetes 130-US hospitals for years 1999-2008',
 'Multivariate ',
 'Bach Choral Harmony',
 'Sequential ',
 'StoneFlakes',
 'Multivariate ',
 'Tennis Major Tournament Match Statistics',
 'Multivariate ',
 'Parkinson Speech Dataset with Multiple Types of Sound Recordings',
 'Multivariate ',
 'Gesture Phase Segmentation',
 'Multivariate, Sequential, Time-Series ',
 'Perfume Data',
 'Univariate, Domain-Theory ',
 'BlogFeedback',
 'Multivariate ',
 'REALDISP Activity Recognition Dataset',
 'Multivariate, Time-Series ',
 'Newspaper and magazine images segmentation dataset',
 ' ',
 'AAAI 2014 Accepted Papers',
 'Multivariate ',
 'Gas sensor array under flow modulation',
 'Multivariate, Time-Series ',
 'Gas sensor array exposed to turbulent gas mixtures',
 'Multivariate, Time-Series ',
 'UJIIndoorLoc',
 'Multivariate ',
 'Sentence Classification',
 'Text ',
 'Dow Jones Index',
 'Time-Series ',
 'sEMG for Basic Hand movements',
 'Time-Series ',
 'AAAI 2013 Accepted Papers',
 'Multivariate ',
 'Geographical Original of Music',
 'Multivariate ',
 'Condition Based Maintenance of Naval Propulsion Plants',
 'Multivariate ',
 'Grammatical Facial Expressions',
 'Multivariate, Sequential ',
 'NoisyOffice',
 'Multivariate ',
 'MHEALTH Dataset',
 'Multivariate, Time-Series ',
 'Student Performance',
 'Multivariate ',
 'ElectricityLoadDiagrams20112014',
 'Time-Series ',
 'Gas sensor array under dynamic gas mixtures',
 'Multivariate, Time-Series ',
 'microblogPCU',
 'Multivariate, Univariate, Sequential, Text ',
 'Firm-Teacher_Clave-Direction_Classification',
 'Multivariate ',
 'Dataset for Sensorless Drive Diagnosis',
 'Multivariate ',
 'TV News Channel Commercial Detection Dataset',
 'Multivariate ',
 'Phishing Websites',
 ' ',
 'Greenhouse Gas Observing Network',
 'Multivariate, Time-Series ',
 'Diabetic Retinopathy Debrecen Data Set',
 'Multivariate ',
 'HIV-1 protease cleavage',
 'Multivariate ',
 'Sentiment Labelled Sentences',
 'Text ',
 'Online News Popularity',
 'Multivariate ',
 'Forest type mapping',
 'Multivariate ',
 'wiki4HE',
 'Multivariate ',
 'Online Video Characteristics and Transcoding Time Dataset',
 'Multivariate ',
 'Chronic_Kidney_Disease',
 'Multivariate ',
 'Machine Learning based ZZAlpha Ltd. Stock Recommendations 2012-2014',
 'Sequential, Time-Series ',
 'Folio',
 'Multivariate ',
 'Taxi Service Trajectory - Prediction Challenge, ECML PKDD 2015',
 'Multivariate, Sequential, Time-Series, Domain-Theory ',
 'Cuff-Less Blood Pressure Estimation',
 'Multivariate ',
 'Smartphone-Based Recognition of Human Activities and Postural Transitions',
 'Multivariate, Time-Series ',
 'Mice Protein Expression',
 'Multivariate ',
 'UJIIndoorLoc-Mag',
 'Multivariate, Sequential, Time-Series ',
 'Heterogeneity Activity Recognition',
 'Multivariate, Time-Series ',
 'Educational Process Mining (EPM): A Learning Analytics Data Set',
 'Multivariate, Sequential, Time-Series ',
 'HEPMASS',
 'Multivariate ',
 'Indoor User Movement Prediction from RSS data',
 'Multivariate, Sequential, Time-Series ',
 'Open University Learning Analytics dataset',
 'Multivariate, Sequential, Time-Series ',
 'default of credit card clients',
 'Multivariate ',
 'Mesothelioma’s disease data set',
 'Multivariate ',
 'Online Retail',
 'Multivariate, Sequential, Time-Series ',
 'SIFT10M',
 'Multivariate ',
 'GPS Trajectories',
 'Multivariate ',
 'Detect Malacious Executable(AntiVirus)',
 'Multivariate ',
 'Occupancy Detection',
 'Multivariate, Time-Series ',
 'Improved Spiral Test Using Digitized Graphics Tablet for Monitoring Parkinson’s Disease',
 'Multivariate ',
 'News Aggregator',
 'Multivariate ',
 'Air Quality',
 'Multivariate, Time-Series ',
 'Twin gas sensor arrays',
 'Multivariate, Time-Series, Domain-Theory ',
 'Gas sensors for home activity monitoring',
 'Multivariate, Time-Series ',
 'Facebook Comment Volume Dataset',
 'Multivariate ',
 'Smartphone Dataset for Human Activity Recognition (HAR) in Ambient Assisted Living (AAL)',
 'Time-Series ',
 'Polish companies bankruptcy data',
 'Multivariate ',
 'Activity Recognition system based on Multisensor data fusion (AReM)',
 'Multivariate, Sequential, Time-Series ',
 'Dota2 Games Results',
 'Multivariate ',
 'Facebook metrics',
 'Multivariate ',
 'UbiqLog (smartphone lifelogging)',
 'Multivariate ',
 'NIPS Conference Papers 1987-2015',
 'Text ',
 'HTRU2',
 'Multivariate ',
 'Drug consumption (quantified)',
 'Multivariate ',
 'Appliances energy prediction',
 'Multivariate, Time-Series ',
 'Miskolc IIS Hybrid IPS',
 'Text ',
 'KDC-4007 dataset Collection',
 'Multivariate, Text ',
 'Geo-Magnetic field and WLAN dataset for indoor localisation from wristband and smartphone',
 'Multivariate, Sequential, Time-Series ',
 'DrivFace',
 'Multivariate ',
 'Website Phishing',
 'Multivariate ',
 'YouTube Spam Collection',
 'Text ',
 'Beijing PM2.5 Data',
 'Multivariate, Time-Series ',
 'Cargo 2000 Freight Tracking and Tracing',
 'Multivariate, Sequential ',
 'Cervical cancer (Risk Factors)',
 'Multivariate ',
 'Quality Assessment of Digital Colposcopies',
 'Multivariate ',
 'KASANDR',
 'Multivariate ',
 'FMA: A Dataset For Music Analysis',
 'Multivariate, Time-Series ',
 'Air quality',
 'Multivariate, Time-Series ',
 'Epileptic Seizure Recognition',
 'Multivariate, Time-Series ',
 'Devanagari Handwritten Character Dataset',
 ' ',
 'Stock portfolio performance',
 'Multivariate ',
 'MoCap Hand Postures',
 'Multivariate ',
 'Early biomarkers of Parkinson�s disease based on natural connected speech',
 'Multivariate ',
 'Data for Software Engineering Teamwork Assessment in Education Setting',
 'Sequential, Time-Series ',
 'PM2.5 Data of Five Chinese Cities',
 'Multivariate, Time-Series ',
 'Parkinson Disease Spiral Drawings Using Digitized Graphics Tablet',
 'Multivariate ',
 'Sales_Transactions_Dataset_Weekly',
 'Multivariate, Time-Series ',
 'Las Vegas Strip',
 ' ',
 'Eco-hotel',
 'Text ',
 'MEU-Mobile KSD',
 'Multivariate ',
 'Crowdsourced Mapping',
 'Multivariate ',
 'gene expression cancer RNA-Seq',
 'Multivariate ',
 'Hybrid Indoor Positioning Dataset from WiFi RSSI, Bluetooth and magnetometer',
 'Multivariate, Sequential, Time-Series ',
 'chestnut – LARVIC',
 ' ',
 'Burst Header Packet (BHP) flooding attack on Optical Burst Switching (OBS) Network',
 'Text ',
 'Motion Capture Hand Postures',
 'Multivariate ',
 'Anuran Calls (MFCCs)',
 'Multivariate ',
 'TTC-3600: Benchmark dataset for Turkish text categorization',
 'Text ',

In [677]:
data_type = []
for index in range(2, len(Data_type), 2):
    data_type.append(Data_type[index])
print(data_type)

['Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Univariate, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Univariate, Time-Series ', 'Multivariate, Spatial ', 'Multivariate ', 'Multivariate, Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Data-Generator ', ' ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Relational ', 'Multivariate ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Sequential, Domain-Theory ', 'Sequential ', 'Sequential, Domain-Theory ', 'Multivariate ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Domain-Theory ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate, Domain-Theory ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Data-Generator ', 'Multivariate, Data-Generator ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Text ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Relational ', 'Multivariate, Time-Series ', 'Spatio-temporal ', 'Transactional, Sequential ', 'Image ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Relational ', 'Multivariate, Relational ', 'Sequential ', 'Text ', 'Multivariate, Time-Series ', 'Univariate, Time-Series ', 'Text ', 'Multivariate, Time-Series ', 'Time-Series ', 'Multivariate, Text ', 'Text, Sequential ', 'Image ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Domain-Theory ', ' ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Text ', 'Text ', 'Multivariate ', 'Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate, Time-Series ', 'Univariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Text ', 'Domain-Theory ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Time-Series ', 'Multivariate, Text, Domain-Theory ', 'Time-Series, Domain-Theory ', 'Multivariate, Text, Domain-Theory ', 'Text ', 'Text ', 'Multivariate, Univariate, Text ', 'Multivariate, Univariate, Text ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Univariate ', 'Multivariate, Text, Domain-Theory ', 'Univariate ', 'Univariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Univariate, Text ', 'Sequential ', 'Text ', 'Multivariate, Time-Series ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Sequential, Text ', 'Multivariate, Univariate, Time-Series ', 'Time-Series, Multivariate ', 'Multivariate ', 'Sequential ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Domain-Theory ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series, Text ', 'Univariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate, Time-Series ', ' ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Univariate, Sequential, Time-Series ', 'Univariate, Sequential, Time-Series ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Univariate, Domain-Theory ', 'Multivariate ', 'Multivariate, Time-Series ', ' ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Text ', 'Time-Series ', 'Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Univariate, Sequential, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Sequential, Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series, Domain-Theory ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series, Domain-Theory ', 'Multivariate, Time-Series ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Text ', 'Multivariate, Text ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate, Time-Series ', 'Multivariate, Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Time-Series ', ' ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', ' ', 'Text ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Time-Series ', 'Text ', ' ', ' ', 'Multivariate, Time-Series ', 'Multivariate ', 'Sequential, Text ', 'Multivariate, Text ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', ' ', 'Sequential ', 'Univariate ', 'Univariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Univariate, Domain-Theory ', 'Multivariate ', 'Text ', 'Sequential ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Time-Series ', 'Univariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Text ', 'Time-Series ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Univariate ', 'Multivariate ', 'Multivariate ', 'Univariate ', 'Time-Series ', 'Time-Series ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Time-Series ', 'Multivariate, Univariate, Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Text ', 'Multivariate, Text ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate, Univariate ', 'Multivariate, Sequential ', 'Text ', 'Time-Series ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series, Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Time-Series, Text ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series, Text ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Sequential, Time-Series ', 'Multivariate, Univariate ', 'Multivariate ', 'Multivariate, Univariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', ' ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate, Time-Series ', 'Univariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Sequential ', 'Sequential, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', ' ', 'Text ', 'Text ', 'Multivariate ', 'Time-Series ', 'Multivariate ', 'Time-Series ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Text ', 'Multivariate ', 'Sequential, Time-Series ', 'Time-Series ', 'Multivariate ', 'Sequential ', 'Multivariate ', 'Text ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate, Text ', 'Multivariate, Time-Series ', 'Multivariate ', 'Multivariate ', 'Multivariate ', 'Time-Series ', 'Time-Series ', 'Multivariate ']

In [678]:
Task=[]
try:
    
    search_Task=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[3]//p")
    for a in search_Task:
        Task.append(a.text)

except NoSuchElementException as e:
    search_Task=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[3]//p")
    Task.append(a.text)

Task

['Default Task',
 'Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Function-Learning ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Relational-Learning ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Recommender-Systems ',
 'Classification ',
 'Regression, Description ',
 ' ',
 ' ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Causal-Discovery ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Causal-Discovery ',
 'Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression, Clustering, Causal-Discovery ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Regression, Clustering ',
 'Classification, Regression ',
 'Regression, Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering, Causa ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Regression ',
 ' ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Classification, Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Regression, Clustering, Causal-Discovery ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Clustering, Causal-Discovery ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Causal-Discovery ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Causal-Discovery ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Causal-Discovery ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Clustering ',
 'Classification, Regression ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Clustering ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Clustering ',
 'Classification ',
 'Regression ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Recommendation ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression ',
 'Clustering ',
 'Classification ',
 'Regression ',
 'Regression, Clustering ',
 'Regression ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Regression, Causal-Discovery ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Causal-Discovery ',
 'Clustering ',
 'Regression, Clustering ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Regression ']

In [679]:
Task.remove(Task[0])

['Classification ',
 'Classification ',
 'Classification ',
 'Recommender-Systems ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Function-Learning ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Relational-Learning ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Recommender-Systems ',
 'Classification ',
 'Regression, Description ',
 ' ',
 ' ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Causal-Discovery ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Causal-Discovery ',
 'Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 ' ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression, Clustering, Causal-Discovery ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 ' ',
 'Classification ',
 'Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Regression, Clustering ',
 'Classification, Regression ',
 'Regression, Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering, Causa ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Regression ',
 ' ',
 'Classification ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Classification, Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Regression, Clustering, Causal-Discovery ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Clustering, Causal-Discovery ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Causal-Discovery ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Causal-Discovery ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Causal-Discovery ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Clustering ',
 'Classification, Regression ',
 ' ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Clustering ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Clustering ',
 'Classification ',
 'Regression ',
 'Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Recommendation ',
 'Classification, Regression, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression ',
 'Classification, Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression ',
 'Clustering ',
 'Classification ',
 'Regression ',
 'Regression, Clustering ',
 'Regression ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Regression ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification, Clustering ',
 'Regression ',
 'Regression ',
 'Classification, Regression ',
 'Classification, Clustering, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Clustering ',
 'Regression ',
 'Classification ',
 'Regression ',
 'Classification ',
 'Classification, Regression, Causal-Discovery ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Causal-Discovery ',
 'Clustering ',
 'Regression, Clustering ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Classification, Regression ',
 'Classification, Regression, Clustering ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification, Regression, Clustering ',
 'Regression ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Classification ',
 'Classification, Clustering ',
 'Classification ',
 'Clustering ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Clustering ',
 'Classification, Regression ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Classification, Regression ',
 'Classification, Clustering ',
 'Classification ',
 'Classification ',
 'Classification, Regression, Causal-Discovery ',
 'Classification ',
 'Classification ',
 'Classification ',
 'Regression ',
 'Regression ',
 'Regression ']

In [680]:
Attribute_type=[]
try:
    
    search_Attribute_type=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[4]//p")
    for a in search_Attribute_type:
        Attribute_type.append(a.text)

except NoSuchElementException as e:
    search_Attribute_type=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[4]//p")
    Attribute_type.append(a.text)

Attribute_type

['Attribute Types',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical, Real ',
 'Categorical, Integer, Real ',
 ' ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Real ',
 'Real ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Integer ',
 ' ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Real, Integer ',
 'Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Real ',
 ' ',
 ' ',
 'Categorical, Integer, Real ',
 'Real ',
 'Categorical, Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Real ',
 'Real ',
 'Categorical, Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Categorical, Integer, Real ',
 ' ',
 'Integer ',
 'Categorical ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical, Integer, Real ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 ' ',
 'Integer, Real ',
 'Categorical ',
 'Integer ',
 'Integer ',
 'Categorical ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Categorical, Integer ',
 'Categorical ',
 ' ',
 ' ',
 'Real ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Categorical ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 'Categorical ',
 'Integer ',
 'Categorical, Integer ',
 ' ',
 ' ',
 'Categorical, Integer ',
 'Categorical ',
 'Categorical, Real ',
 'Categorical ',
 'Categorical, Integer ',
 'Categorical ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Categorical, Integer ',
 ' ',
 ' ',
 'Categorical, Real ',
 'Real ',
 'Categorical ',
 'Categorical, Integer ',
 'Categorical, Real ',
 'Real ',
 ' ',
 'Categorical, Integer, Real ',
 'Integer, Real ',
 'Categorical ',
 'Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Real ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 ' ',
 ' ',
 'Categorical ',
 ' ',
 'Categorical, Real ',
 ' ',
 'Categorical ',
 'Integer ',
 'Real ',
 'Categorical ',
 ' ',
 ' ',
 'Categorical, Integer, Real ',
 'Categorical, Integer ',
 'Categorical, Real ',
 'Integer ',
 'Real ',
 'Integer ',
 'Integer ',
 'Categorical ',
 'Real ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Categorical, Integer ',
 'Real ',
 'Integer ',
 'Integer ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Real ',
 'Categorical ',
 'Real ',
 'Real ',
 'Real ',
 'Categorical, Integer ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Categorical, Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 ' ',
 ' ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Integer ',
 ' ',
 'Real ',
 ' ',
 'Integer ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Categorical ',
 ' ',
 'Integer, Real ',
 ' ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Integer ',
 'Integer ',
 'Integer ',
 ' ',
 'Real ',
 'Categorical ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 ' ',
 'Integer, Real ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Integer ',
 ' ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Integer ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Integer, Real ',
 ' ',
 ' ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Real ',
 ' ',
 'Real ',
 'Integer ',
 ' ',
 'Integer ',
 'Integer, Real ',
 'Integer, Real ',
 ' ',
 ' ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Real ',
 'Real ',
 'Integer ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Integer, Real ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 'Integer ',
 'Real ',
 ' ',
 'Integer, Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 ' ',
 ' ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Integer ',
 'Integer, Real ',
 'Integer ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 ' ',
 'Integer ',
 'Real ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 'Integer ',
 ' ',
 ' ',
 'Real ',
 'Integer, Real ',
 ' ',
 'Real ',
 'Real ',
 'Real ',
 'Real ']

In [681]:
Attribute_type.remove(Attribute_type[0])

In [683]:
No_of_instances=[]
try:
    
    search_No_of_instances=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[5]//p")
    for a in search_No_of_instances:
        No_of_instances.append(a.text)

except NoSuchElementException as e:
    search_No_of_instances=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[5]//p")
    No_of_instances.append(a.text)

No_of_instances

['# Instances',
 '4177 ',
 '48842 ',
 '798 ',
 '37711 ',
 '452 ',
 '6000 ',
 '226 ',
 '226 ',
 '398 ',
 '205 ',
 '294 ',
 '625 ',
 '16 ',
 '286 ',
 '699 ',
 '198 ',
 '569 ',
 '108 ',
 '1728 ',
 '48842 ',
 ' ',
 '3196 ',
 '28056 ',
 ' ',
 '100 ',
 '67557 ',
 '690 ',
 '125 ',
 '209 ',
 '1473 ',
 '581012 ',
 '512 ',
 '366 ',
 ' ',
 ' ',
 ' ',
 ' ',
 '132 ',
 '336 ',
 '194 ',
 '352 ',
 '214 ',
 '306 ',
 '160 ',
 '303 ',
 '155 ',
 '368 ',
 ' ',
 '2310 ',
 '3279 ',
 '351 ',
 '150 ',
 '7797 ',
 '104 ',
 '57 ',
 ' ',
 '24 ',
 '20000 ',
 '345 ',
 ' ',
 '32 ',
 '148 ',
 '209 ',
 '528 ',
 ' ',
 '106 ',
 '128 ',
 '3190 ',
 '432 ',
 '202 ',
 '2000 ',
 '8124 ',
 '476 ',
 '6598 ',
 '12960 ',
 ' ',
 '5473 ',
 '5620 ',
 '10992 ',
 '90 ',
 '339 ',
 ' ',
 ' ',
 ' ',
 '167 ',
 '15 ',
 '1389 ',
 '307 ',
 '47 ',
 '23 ',
 '531 ',
 '4601 ',
 '267 ',
 '267 ',
 '76 ',
 ' ',
 '1000 ',
 '151 ',
 '958 ',
 '7200 ',
 '10 ',
 '285 ',
 '435 ',
 '527 ',
 '5000 ',
 '5000 ',
 '178 ',
 '1484 ',
 '101 ',
 ' ',
 '20000 ',
 '6650 ',
 '2565 ',
 '2458285 ',
 '299285 ',
 '340 ',
 '68040 ',
 ' ',
 '122 ',
 '178080 ',
 '50672 ',
 '640 ',
 '9000 ',
 '10104 ',
 '256932 ',
 '640 ',
 '191779 ',
 '4000000 ',
 ' ',
 '10000 ',
 '989818 ',
 '129000 ',
 ' ',
 '100000 ',
 '21578 ',
 '463 ',
 '600 ',
 '332 ',
 ' ',
 ' ',
 '690 ',
 '1000 ',
 '270 ',
 '6435 ',
 '2310 ',
 '58000 ',
 '946 ',
 '20008 ',
 '208 ',
 '528 ',
 ' ',
 ' ',
 '1024 ',
 '10080 ',
 '50400 ',
 '1025010 ',
 '19020 ',
 '1364 ',
 '961 ',
 '517 ',
 '200 ',
 '8000000 ',
 '1030 ',
 '606 ',
 '900 ',
 '2600 ',
 '1950 ',
 '13500 ',
 '4400 ',
 '2536 ',
 '300 ',
 '197 ',
 '2858 ',
 '748 ',
 '11640 ',
 '1593 ',
 '1567 ',
 '22632 ',
 '360 ',
 '103 ',
 '1994 ',
 '120 ',
 '4898 ',
 '2396130 ',
 '16772 ',
 '5875 ',
 '503 ',
 '51 ',
 '106 ',
 '2126 ',
 '5456 ',
 '8800 ',
 '164860 ',
 ' ',
 '1941 ',
 '130065 ',
 '515345 ',
 '440 ',
 ' ',
 '53500 ',
 '8235 ',
 ' ',
 '5749132 ',
 '2215 ',
 '310 ',
 '10000 ',
 '3000 ',
 '1500 ',
 '30000 ',
 '2500 ',
 '4143 ',
 '64 ',
 '53414 ',
 '65554 ',
 '45211 ',
 '1138562 ',
 '13910 ',
 '583 ',
 '2551 ',
 '34465 ',
 '5574 ',
 '245057 ',
 '182 ',
 '3850505 ',
 '138 ',
 '1080 ',
 '2075259 ',
 '210 ',
 '115 ',
 '3960456 ',
 ' ',
 '10299 ',
 '1600 ',
 '768 ',
 '308 ',
 '100 ',
 '237 ',
 '434874 ',
 '536 ',
 '140000 ',
 '6118 ',
 '165632 ',
 '18000 ',
 '540 ',
 '931 ',
 '1055 ',
 '100 ',
 '9120 ',
 '403 ',
 '111740 ',
 '10421 ',
 '5820 ',
 '403 ',
 '14980 ',
 '45730 ',
 '2584 ',
 '1372 ',
 '306 ',
 '120000 ',
 '13910 ',
 '2747 ',
 '3395 ',
 '39242 ',
 '4137 ',
 '17389 ',
 '51 ',
 '470 ',
 '132 ',
 '5000000 ',
 '11000000 ',
 '250 ',
 '126 ',
 ' ',
 '4889 ',
 ' ',
 ' ',
 '340 ',
 '501 ',
 '45781 ',
 '1503 ',
 '440 ',
 '2000 ',
 '9568 ',
 '168 ',
 '100000 ',
 '5665 ',
 '79 ',
 '127 ',
 '1040 ',
 '9900 ',
 '560 ',
 '60021 ',
 '1419 ',
 '101 ',
 '399 ',
 '58 ',
 '180 ',
 '21048 ',
 ' ',
 '750 ',
 '3000 ',
 '150 ',
 '1059 ',
 '11934 ',
 '27965 ',
 '216 ',
 '120 ',
 '649 ',
 '370 ',
 '4178504 ',
 '221579 ',
 '10800 ',
 '58509 ',
 '129685 ',
 '2456 ',
 '2921 ',
 '1151 ',
 '6590 ',
 '3000 ',
 '39797 ',
 '326 ',
 '913 ',
 '168286 ',
 '400 ',
 '314080 ',
 '637 ',
 '1710671 ',
 '12000 ',
 '10929 ',
 '1080 ',
 '40000 ',
 '43930257 ',
 '230318 ',
 '10500000 ',
 '13197 ',
 ' ',
 '30000 ',
 '324 ',
 '541909 ',
 '11164866 ',
 '163 ',
 '373 ',
 '20560 ',
 '40 ',
 '422937 ',
 '9358 ',
 '640 ',
 '919438 ',
 '40949 ',
 '5744 ',
 '10503 ',
 '42240 ',
 '102944 ',
 '500 ',
 '9782222 ',
 '11463 ',
 '17898 ',
 '1885 ',
 '19735 ',
 '1540 ',
 '4007 ',
 '153540 ',
 '606 ',
 '1353 ',
 '1956 ',
 '43824 ',
 '3942 ',
 '858 ',
 '287 ',
 '17764280 ',
 '106574 ',
 '9358 ',
 '11500 ',
 '92000 ',
 '315 ',
 '78095 ',
 '130 ',
 '74 ',
 '52854 ',
 '77 ',
 '811 ',
 '504 ',
 '401 ',
 '2856 ',
 '10546 ',
 '801 ',
 '1540 ',
 '1451 ',
 '1075 ',
 '78095 ',
 '7195 ',
 '3600 ',
 '76 ',
 '60 ',
 '405 ',
 '303 ',
 '303 ',
 '107888 ',
 '76000 ',
 '10000 ',
 '180 ',
 '745000 ',
 '12234 ',
 '292 ',
 '104 ',
 '60000 ',
 '2000 ',
 '165 ',
 '217 ',
 '1175 ',
 '704 ',
 '75128 ',
 '90 ',
 '90 ',
 '50 ',
 '71 ',
 '93239 ',
 '540 ',
 '105 ',
 '6611 ',
 '15 ',
 '372 ',
 '58000 ',
 '4960 ',
 '241600 ',
 '130000 ',
 '7062606 ',
 '740 ',
 '70 ',
 '2205 ',
 '10721 ',
 '640 ',
 '1000 ',
 '116 ',
 '1672 ',
 '322 ',
 '93600 ',
 '3060 ',
 '5879 ',
 '9200 ',
 '20000 ',
 '20867 ',
 ' ',
 '4143 ',
 '215063 ',
 '6000000 ',
 '21263 ',
 '63000000 ',
 '10190 ',
 '300 ',
 '12330 ',
 '5180 ',
 '756 ',
 '10000 ',
 '80 ',
 '1184 ',
 '1047 ',
 '777 ',
 '249 ',
 '414 ',
 ' ',
 '143 ',
 '7840 ',
 '30000 ',
 '35717 ',
 '135 ',
 '980 ',
 '5456 ',
 '120 ',
 '4095000 ',
 '7051 ',
 '240 ',
 '48204 ',
 '260000 ',
 '288000 ',
 '8300000 ',
 '125 ',
 '170 ',
 '141712 ',
 '3916 ',
 '6262 ',
 '420768 ',
 '1067371 ',
 '1385 ',
 '908 ',
 '546 ',
 '13956534 ',
 '15630426 ',
 '8992 ',
 '1687 ',
 '779 ',
 '1056 ',
 '590 ',
 '21643 ',
 '7750 ',
 '14057567 ',
 '27170754 ',
 '597 ',
 '329 ',
 '299 ',
 '20000 ',
 '26136 ',
 '1000 ',
 '399 ',
 '24017 ',
 '325834 ',
 '2916697 ',
 '22470 ',
 '189 ',
 '520 ',
 '826 ',
 '2279 ',
 '28764 ',
 '7107 ',
 '288000 ',
 '9800 ',
 '4760 ',
 '72 ',
 '1450 ',
 '170 ',
 '1984 ',
 '2955 ',
 '65532 ',
 '65919 ',
 '2111 ',
 '3810 ',
 '18 ',
 '244 ',
 '104 ',
 '139 ',
 '360177 ',
 '36733 ',
 '4480 ',
 '165474 ',
 '1985 ',
 '10000 ',
 '232 ',
 '150 ',
 '11 ',
 '14057567 ',
 '8760 ',
 '48 ',
 '6321 ',
 '3150 ',
 '17256 ',
 '187 ',
 '399 ',
 '14 ',
 '467 ',
 '597 ',
 '23700 ',
 '615 ',
 '6819 ',
 '1000 ',
 ' ',
 '2633 ',
 '200 ',
 '13028 ',
 '800 ',
 '1700 ',
 '521 ',
 '120000 ',
 '666 ',
 '88 ',
 '200 ',
 '2279 ',
 '23570 ',
 '10000 ',
 '37700 ',
 '1850 ',
 '11 ',
 '147270 ',
 '3150 ',
 '17256 ',
 '597 ',
 '7624 ',
 '314 ',
 '1197 ',
 '70 ',
 '7624 ',
 '26737 ',
 '10000 ',
 '13611 ',
 '12684 ',
 '48 ',
 '731 ',
 '731 ',
 '557 ']

In [684]:
No_of_instances.remove(No_of_instances[0])

In [686]:
No_of_attribute=[]
try:
    
    search_No_of_attribute=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[6]//p")
    for a in search_No_of_attribute:
        No_of_attribute.append(a.text)

except NoSuchElementException as e:
    search_No_of_attribute=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[6]//p")
    No_of_attribute.append(a.text)

No_of_attribute

['# Attributes',
 '8 ',
 '14 ',
 '38 ',
 '294 ',
 '279 ',
 '7 ',
 ' ',
 '69 ',
 '8 ',
 '26 ',
 '1 ',
 '4 ',
 '4 ',
 '9 ',
 '10 ',
 '34 ',
 '32 ',
 '13 ',
 '6 ',
 '14 ',
 '22 ',
 '36 ',
 '6 ',
 ' ',
 '6 ',
 '42 ',
 '15 ',
 ' ',
 '9 ',
 '9 ',
 '54 ',
 '39 ',
 '33 ',
 '20 ',
 ' ',
 ' ',
 ' ',
 '12 ',
 '8 ',
 '30 ',
 ' ',
 '10 ',
 '3 ',
 '5 ',
 '75 ',
 '19 ',
 '27 ',
 ' ',
 '19 ',
 '1558 ',
 '34 ',
 '4 ',
 '617 ',
 '12 ',
 '16 ',
 '7 ',
 '4 ',
 '16 ',
 '7 ',
 ' ',
 '56 ',
 '18 ',
 '8 ',
 '22 ',
 ' ',
 '58 ',
 ' ',
 '61 ',
 '7 ',
 ' ',
 '649 ',
 '22 ',
 '168 ',
 '168 ',
 '8 ',
 ' ',
 '10 ',
 '64 ',
 '16 ',
 '8 ',
 '17 ',
 ' ',
 ' ',
 '72 ',
 '4 ',
 '6 ',
 '10 ',
 '35 ',
 '35 ',
 '4 ',
 '102 ',
 '57 ',
 '22 ',
 '44 ',
 '45 ',
 ' ',
 ' ',
 '5 ',
 '9 ',
 '21 ',
 '32 ',
 '17 ',
 '16 ',
 '38 ',
 '21 ',
 '40 ',
 '13 ',
 '8 ',
 '17 ',
 ' ',
 ' ',
 '15 ',
 '22 ',
 '68 ',
 '40 ',
 '17 ',
 '89 ',
 ' ',
 '4 ',
 '12 ',
 ' ',
 ' ',
 '86 ',
 '72 ',
 '61 ',
 '12 ',
 '481 ',
 '42 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '5 ',
 '90 ',
 ' ',
 '5 ',
 ' ',
 ' ',
 '14 ',
 '20 ',
 '13 ',
 '36 ',
 '19 ',
 '9 ',
 '18 ',
 '4 ',
 '60 ',
 '10 ',
 ' ',
 ' ',
 '10 ',
 '4 ',
 '3 ',
 '11 ',
 '11 ',
 ' ',
 '6 ',
 '13 ',
 ' ',
 '100000 ',
 '9 ',
 '101 ',
 '10000 ',
 '20000 ',
 '100000 ',
 '5000 ',
 '500 ',
 '73 ',
 '43 ',
 '23 ',
 '3 ',
 '5 ',
 ' ',
 '256 ',
 '591 ',
 '70 ',
 '91 ',
 '10 ',
 '128 ',
 '6 ',
 '12 ',
 '3231961 ',
 '5409 ',
 '26 ',
 ' ',
 ' ',
 '10 ',
 '23 ',
 '24 ',
 '13 ',
 '8 ',
 ' ',
 '27 ',
 '50 ',
 '90 ',
 '138672 ',
 ' ',
 '386 ',
 ' ',
 ' ',
 '12 ',
 '147 ',
 '6 ',
 '8 ',
 '27 ',
 '10000 ',
 '20000 ',
 '10000 ',
 '54877 ',
 '4702 ',
 '24 ',
 '29 ',
 '17 ',
 '3 ',
 '128 ',
 '10 ',
 '242 ',
 '120 ',
 ' ',
 '4 ',
 '13 ',
 '52 ',
 '47 ',
 '857 ',
 '9 ',
 '7 ',
 '200 ',
 '4 ',
 ' ',
 '561 ',
 '64 ',
 '8 ',
 '7 ',
 '10 ',
 '9 ',
 '4 ',
 '8 ',
 '77 ',
 '51 ',
 '18 ',
 '1950000 ',
 '18 ',
 '1300 ',
 '41 ',
 '6 ',
 '5625 ',
 '5 ',
 ' ',
 '7 ',
 '33 ',
 '5 ',
 '15 ',
 '9 ',
 '19 ',
 '5 ',
 '5 ',
 '1000000 ',
 '129 ',
 ' ',
 '20 ',
 '152 ',
 '24 ',
 '16 ',
 '35 ',
 '17 ',
 '5 ',
 '18 ',
 '28 ',
 '7 ',
 '309 ',
 '3 ',
 '6 ',
 ' ',
 ' ',
 '16 ',
 '13 ',
 '5 ',
 '6 ',
 '8 ',
 '2 ',
 '4 ',
 '148 ',
 '55 ',
 '17 ',
 '8 ',
 '42 ',
 '26 ',
 '50 ',
 '2 ',
 '281 ',
 '120 ',
 ' ',
 '6 ',
 '120432 ',
 '150000 ',
 '529 ',
 ' ',
 '16 ',
 '2500 ',
 '5 ',
 '68 ',
 '16 ',
 '100 ',
 '216 ',
 '23 ',
 '33 ',
 '140256 ',
 '19 ',
 '20 ',
 '20 ',
 '49 ',
 '12 ',
 '30 ',
 '5232 ',
 '20 ',
 '1 ',
 ' ',
 '61 ',
 '27 ',
 '53 ',
 '11 ',
 '25 ',
 '0 ',
 '20 ',
 '9 ',
 '3 ',
 '561 ',
 '82 ',
 '13 ',
 '16 ',
 '13 ',
 '28 ',
 '4 ',
 ' ',
 '24 ',
 '34 ',
 '8 ',
 '128 ',
 '15 ',
 '513 ',
 '7 ',
 '7 ',
 '5 ',
 '15 ',
 '480000 ',
 '11 ',
 '54 ',
 '561 ',
 '64 ',
 '6 ',
 '116 ',
 '19 ',
 ' ',
 '5812 ',
 '9 ',
 '32 ',
 '29 ',
 '67 ',
 ' ',
 '25 ',
 '6400 ',
 '10 ',
 '5 ',
 '13 ',
 '98 ',
 '36 ',
 '69 ',
 '2158859 ',
 '518 ',
 '15 ',
 '179 ',
 ' ',
 '12 ',
 '38 ',
 '65 ',
 '102 ',
 '86 ',
 '7 ',
 '53 ',
 '20 ',
 '1 ',
 '71 ',
 '29 ',
 '20531 ',
 '65 ',
 '3 ',
 '22 ',
 '38 ',
 '22 ',
 '4814 ',
 '698 ',
 '13 ',
 '10 ',
 '59 ',
 '56 ',
 '482 ',
 '171 ',
 '5 ',
 '500 ',
 '411 ',
 '8519 ',
 '21 ',
 '21 ',
 '171 ',
 '7 ',
 '49 ',
 '12 ',
 '3 ',
 '21 ',
 '9 ',
 '8 ',
 '7 ',
 '2 ',
 '11 ',
 '11 ',
 '173 ',
 '5 ',
 '15 ',
 '3 ',
 '105 ',
 '25000 ',
 ' ',
 '18 ',
 '21000 ',
 '115 ',
 '21 ',
 '206 ',
 '43680 ',
 '8 ',
 '10 ',
 '59 ',
 '10 ',
 '5 ',
 '5 ',
 '1000 ',
 '138 ',
 ' ',
 '16 ',
 '2 ',
 '10 ',
 ' ',
 '8 ',
 '6 ',
 '129 ',
 '81 ',
 '12 ',
 '6 ',
 '22 ',
 '18 ',
 '9 ',
 '754 ',
 '14 ',
 '5 ',
 ' ',
 ' ',
 '18 ',
 '7 ',
 '7 ',
 ' ',
 '7 ',
 '5 ',
 '6 ',
 '4 ',
 '18 ',
 '11 ',
 '25 ',
 ' ',
 '20 ',
 '12 ',
 '46 ',
 '9 ',
 '8 ',
 '49 ',
 '11 ',
 '8 ',
 '54 ',
 '36 ',
 '3916 ',
 '710 ',
 '18 ',
 '8 ',
 '29 ',
 '7 ',
 '9 ',
 '37 ',
 '6 ',
 '1024 ',
 '1024 ',
 '14 ',
 '7 ',
 '8265 ',
 '29 ',
 '25 ',
 '3 ',
 '115 ',
 '1 ',
 '12 ',
 '13 ',
 '200000 ',
 '6 ',
 '21 ',
 '4 ',
 '2400 ',
 '175 ',
 '10 ',
 '4714 ',
 '23 ',
 '17 ',
 '2 ',
 '9 ',
 '8 ',
 '280 ',
 '49 ',
 '3 ',
 '14 ',
 '19 ',
 ' ',
 '54 ',
 '8 ',
 '1087 ',
 '12 ',
 '3 ',
 '17 ',
 '8 ',
 '9 ',
 '12 ',
 '1656 ',
 '6 ',
 '2 ',
 '11 ',
 '533 ',
 '14 ',
 '84 ',
 '22 ',
 '16 ',
 '52 ',
 '19 ',
 '3 ',
 '14 ',
 '321 ',
 '13 ',
 '13 ',
 '55 ',
 '39 ',
 '4 ',
 '7 ',
 '79 ',
 '1 ',
 ' ',
 '14 ',
 '96 ',
 '21 ',
 ' ',
 '5 ',
 '2 ',
 '69 ',
 '9 ',
 '124 ',
 '20 ',
 '25 ',
 '11 ',
 '19 ',
 '9 ',
 '9 ',
 '5 ',
 '7 ',
 '4006 ',
 '2 ',
 '19 ',
 '4 ',
 '13 ',
 '55 ',
 '1 ',
 '7842 ',
 '15 ',
 '15 ',
 '70 ',
 '7842 ',
 '4 ',
 '14 ',
 '17 ',
 '23 ',
 '321 ',
 '1068 ',
 '1068 ',
 '5 ']

In [687]:
No_of_attribute.remove(No_of_attribute[0])

In [688]:
Year=[]
try:
    
    search_Year=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[7]//p")
    for a in search_Year:
        Year.append(a.text)

except NoSuchElementException as e:
    search_Year=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[7]//p")
    Year.append(a.text)

Year

['Year',
 '1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ',
 '1994 ',
 '1994 ',
 ' ',
 '1988 ',
 '1992 ',
 '1995 ',
 '1995 ',
 '1990 ',
 '1997 ',
 '1996 ',
 '1988 ',
 '1989 ',
 '1994 ',
 ' ',
 ' ',
 '1995 ',
 ' ',
 '1992 ',
 '1987 ',
 '1997 ',
 '1998 ',
 '1995 ',
 '1998 ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1989 ',
 '1996 ',
 '1990 ',
 '1990 ',
 '1987 ',
 '1999 ',
 '1989 ',
 '1988 ',
 '1988 ',
 '1989 ',
 ' ',
 '1990 ',
 '1998 ',
 '1989 ',
 '1988 ',
 '1994 ',
 '1990 ',
 '1988 ',
 '1988 ',
 '1990 ',
 '1991 ',
 '1990 ',
 ' ',
 '1992 ',
 '1988 ',
 '1990 ',
 '1996 ',
 '1995 ',
 '1990 ',
 ' ',
 '1992 ',
 '1992 ',
 '1994 ',
 ' ',
 '1987 ',
 '1994 ',
 '1994 ',
 '1997 ',
 '1991 ',
 '1995 ',
 '1998 ',
 '1998 ',
 '1993 ',
 '1988 ',
 ' ',
 ' ',
 '1992 ',
 '1993 ',
 '1988 ',
 '1989 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1999 ',
 '2001 ',
 '2001 ',
 ' ',
 '1992 ',
 '1993 ',
 '1997 ',
 '1991 ',
 '1987 ',
 '1994 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1988 ',
 '1991 ',
 '1996 ',
 '1990 ',
 ' ',
 '1999 ',
 '1999 ',
 '2002 ',
 ' ',
 '2000 ',
 '1999 ',
 '1999 ',
 '2001 ',
 '1999 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '1999 ',
 ' ',
 '1998 ',
 '1999 ',
 '2001 ',
 '1999 ',
 ' ',
 '2003 ',
 '1999 ',
 '1999 ',
 '1997 ',
 '1999 ',
 '1999 ',
 '1998 ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1993 ',
 '1990 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1989 ',
 '2006 ',
 '2006 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2010 ',
 '2009 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ',
 '2021 ']

In [689]:
Year.remove(Year[0])

In [691]:
Nos=[]
for i in range(1,len(Dataset_name)+1):
    Nos.append(i)

In [699]:
import pandas as pd
Datasets_from_UCI=pd.DataFrame({})
Datasets_from_UCI['Nos']=Nos
Datasets_from_UCI['Dataset name']=Dataset_name   
Datasets_from_UCI['Data type']=data_type  
Datasets_from_UCI['Task']=Task  
Datasets_from_UCI['Attribute type']=Attribute_type  
Datasets_from_UCI['No of instances']=No_of_instances
Datasets_from_UCI['No of attribute']=No_of_attribute  
Datasets_from_UCI['Year']=Year  
Datasets_from_UCI.style.hide_index()

These are the scraped details of Datasets from UCI machine learning repositories.

In [700]:
Datasets_from_UCI.to_csv("Datasets_from_UCI.csv")

DATA FRAMES

QUESTION NO 1:

In [841]:
most_seen_videos_YouTube.style.hide_index()

QUESTION NO-2:

In [842]:
India_intern_fixtures.style.hide_index()

QUESTION NO-3

In [843]:
selenium_exception.style.hide_index()

QUESTION NO-4

In [844]:
State_wise_GDP_India.style.hide_index()

QUESTION NO-5

In [845]:
trending_repo_github.style.hide_index()

QUESTION NO-6

In [846]:
top_100_songs.style.hide_index()

QUESTION NO-7

In [847]:
Data_science_recruiters.style.hide_index()

QUESTION NO-8

In [848]:
Highest_selling_novels.style.hide_index()

QUESTION NO-9

In [849]:
Tv_series_imdb.style.hide_index()

QUESTION NO-10

In [850]:
Datasets_from_UCI.style.hide_index()